@charset "UTF-8";
/* ==========================================================================
   Themeqx Classified style.css
   28/08/2015
   url: classifieds.themeqx.com
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i');

body {
    /*background: #e9eaed;*/
    font-family: 'Alegreya Sans', sans-serif;
    font-weight:300;
    font-size: 16px;
}

a{
    text-decoration: none !important;
    /*color: #c3a29e;*/
    color: #f0ad4e;
}
a:hover{
    color: #d58512;
}
/** make bootstrap flat */
.navbar-brand {
    margin-left: -10px !important;
    padding: 10px;
}
.navbar-brand > img {
    max-height: 27px;
    width: auto;
}
.form-control {
    border-radius: 1px;
    box-shadow: none;
    color: #555;
    padding: 6px 12px;
}
.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    box-shadow: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.btn {
    background-image: none;
    border-radius: 1px;
}
.btn:focus {
    background-image: none;
}
.navbar-default {
    background-image: none;
    background: #ffffff;
    background-repeat: repeat-x;
    border-radius: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 0 rgba(0, 0, 0, 0.075);
    margin-bottom: 0;
}
.nav > li > a, .navbar-brand {
    font-size: 20px;
}
.sticky-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.bg-white{
    background: #ffffff;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
.alert, .alert-info, .alert-success, .alert-danger, .alert-warning{
    border: 0;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
required-field{
    color:red;
}
.headerAvatar > img {
    border-radius: 50%;
    margin: 0 5px;
    max-height: 18px;
    max-width: 18px;
}
/* end make bootstrap flat */


/** The breadcrumb **/
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -15px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** Home section */
.no-ads-wrap{
    padding: 50px 0;
}
.no-ads-wrap h2, .no-ads-wrap h3, .no-ads-wrap h4 {
    color: #777777;
}
.no-ads-wrap h4{
    font-weight: 300;
    font-size: 22px;
    margin: 20px 0;
}
.checkout-wrap{
    margin-top: 20px;
}
.payment-success-wrap{
    margin-top: 20px;
    padding: 50px 0;
}

/** End: Home Section */

/** The Spacing **/
.btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
    border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
    border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
    border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
    border-left: 10px solid #285e8e;
}

/** Success button **/
.btn-breadcrumb .btn.btn-success:not(:last-child):after {
    border-left: 10px solid #5cb85c;
}
.btn-breadcrumb .btn.btn-success:not(:last-child):before {
    border-left: 10px solid #4cae4c;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):after {
    border-left: 10px solid #47a447;
}
.btn-breadcrumb .btn.btn-success:hover:not(:last-child):before {
    border-left: 10px solid #398439;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
    border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
    border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
    border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
    border-left: 10px solid #ac2925;
}

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:not(:last-child):after {
    border-left: 10px solid #f0ad4e;
}
.btn-breadcrumb .btn.btn-warning:not(:last-child):before {
    border-left: 10px solid #eea236;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):after {
    border-left: 10px solid #ed9c28;
}
.btn-breadcrumb .btn.btn-warning:hover:not(:last-child):before {
    border-left: 10px solid #d58512;
}

/** Info button **/
.btn-breadcrumb .btn.btn-info:not(:last-child):after {
    border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
    border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
    border-left: 10px solid #39b3d7;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):before {
    border-left: 10px solid #269abc;
}

.btn-breadcrumb a.btn{
    font-weight: 300;
    font-size: 12px;
}
/**
Map Area
 */

.home-map-area{
    padding: 20px 0;
}
.home-map-area h2{
    font-weight: 200;
    font-size: 25px;
    margin-top: 0;
}
.home-map-area ul{
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}
#oclassifiedMapsStateName{
    height: 30px;
    color: #666666;
    text-align: center;
}
.btn.btn-orange {
    background: #b185a7;
    color: #fff;
}
.btn.btn-orange:hover {
    background: #8d6b94;
    color: #fff;
}
#oclassifiedmaps{
    margin:  0 auto;
}

.front-state-lists ul li{
    float: left;
    width: 50%;
}
a.more-states{
    font-size: 16px;
    display: block;
    margin-top: 10px;
}
/** End map area */

/** Home category box */
.home-category{
    background: #f9f9f9;
    padding: 20px 0;
}

.home-cat-box-content a{
    color: #666666;
}
.home-cat-box-content a:hover {
    color: #8d6b94;
}
.home-cat-box-content ul{
    padding: 0;
    margin: 0;
}
.home-cat-box-content ul li{
    list-style: none;
}
a.cat-view-more{
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
}
.home-cat-box-title h3 {
    /*border-bottom: 1px solid #dddddd;*/
    font-size: 16px;
    margin: 10px 0;
    padding-bottom: 10px;
}

/** Home Featured box */
.section-stats-box {
    border: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
}
.home-stats-box {
    border-right: 1px solid #eee;
    padding: 48px 0;
}
.home-stats-box i, .home-stats-box .inner-content {
    display: table-cell;
    vertical-align: middle;
}
.home-stats-box .inner {
    display: table;
    margin: 0 auto;
}
.home-stats-box .title {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0 0;
}
.home-stats-box .sub_title {
    color: #888888;
    font-size: 15px;
}
.home-stats-box i {
    color: #cccccc;
    font-size: 42px;
    line-height: 42px;
    padding-right: 20px;
}
.no-border {
    border: none;
}

/**
Page header
 */

.page-header {
    background: #eeeeee;
    padding: 30px 0;
    margin-top: 0;
}
.page-header h2 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 0;
}
/**
Category page
 */

.all-categories{
    padding: 20px 0;
}
.single-category-title {
    font-size: 16px;
    padding: 5px 0;
}
/** Post ad */
#post-new-ad .form-control{
    background: #f9f9f9;
}
#post-new-ad label{
    font-weight: 300;
}
.no-login-info{
    margin-top: 20px;
}
#post-new-ad legend {
    margin: 10px 0 20px;
    padding: 10px 0;
}
/**
Home search box
 */
.home-top-searchbar {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.home-top-searchbar::before{
    background: rgba(0, 0, 0, 0) radial-gradient(at center bottom , #b185a7 12%, #f0ad4e) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
}
.home-search-wrap {
    display: table;
    width: 100%;
    height: 300px;
}

.home-search-section-inner{
    display: table-cell;
    vertical-align: middle;
    color: #ffffff;
}
.home-search-section-inner h1{
    margin-top: 0;
}
.home-search-section-inner p{
    margin-bottom: 15px;
    font-size: 16px;
}
.home-search-section-inner .form-control{
    height: 50px;
    width: 100%;
    border: none;
    padding-left: 30px;
}
.home-search-section-inner .form-control:focus{
    box-shadow: none;
}
.home-search-section-inner .form-group{
    min-width: 250px;
    margin-right: -4px;
    border-right: 1px solid #dddddd;
    position: relative;
}

.home-search-section-inner .form-group:last-child{
    border-right: none;
}
.home-search-section-inner .form-group i.fa {
    color: #999999;
    left: 10px;
    position: absolute;
    top: 37%;
    z-index: 9;
}
.home-search-section-inner .select2-selection--single{
    height: 50px;
    border: none;
    text-align: left;
    padding-left: 30px;
    border-radius: 0;
    line-height: 50px;
    background-image: none;
    box-shadow: none;
}
.home-search-section-inner .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 50px;
    color: #999999;
}
.home-search-section-inner  .select2-container--default .select2-selection--single .select2-selection__arrow{
    border: none;
    background: none;
    top: 13px;
}
.home-search-section-inner .select2-container--open .select2-dropdown{
    color: #999999;
}
.btn-search {
    background: #b185a7;
    color: #ffffff;
    border: none;
    height: 50px;
    transition: all 0.25s linear 0s;
}

.btn-search:hover {
    color: #ffffff;
    background: #8d6b94;
}

/**
Search page
 */
.search-box-wrap  {

}
.search-box-wrap  .home-search-section-inner{
    display: block;
}
.search-page-header{
    margin-bottom: 0;
    border-bottom: 1px solid #f7f7f7;
}
.search-box-wrap{
    padding: 20px 0;
    background: #eeeeee;
    border-top: 1px solid #dedede;
}
.search-sub-category {
    margin-top: 20px;
    margin-bottom: 10px;
}
.search-category-title > a {
    /*font-size: 12px;*/
}
.search-category-title {
    margin-bottom: 5px;
}
.item-view-switch {
    text-align: right;
}
.item-view-switch a {
    color: #666666;
    font-size: 21px;
}


.item-loop-list .caption {
    width: 70%;
    display: inline-block;
}
.item-loop-list .ad-box-footer{
    width: 27%;
    text-align: right;
    display: inline-block;
}
.item-loop-list .ad-box-caption-title{
    width: 44%;
    display: inline-block;
    margin-bottom: 0;
    height: auto;
}
.item-loop-list .ad-box-category{
    width: 44%;
    display: inline-block;
    border-top: none;
    line-height: unset;
    height: auto;
}
.item-loop-list .ad-box-premium{
    right: -29px;
}
.item-loop-list .ad-box-footer{
    background-color: unset;
    border-top: none;
}
.item-loop-list .ad-box, .item-loop-list-thumb .ad-box{
    box-shadow: none;
    margin-bottom: 0;
    border-bottom: 1px solid #dddddd;
}
.item-loop-list .ad-box-caption-title .ad-box-title {
    color: #666666;
    font-weight: bold;
}

.item-loop-list-thumb .ad-box{
    margin-bottom: 15px;
}
.item-loop-list-thumb .ad-box{
    height: 83px;
}
.item-loop-list-thumb .ad-box .ads-thumbnail{
    max-width: 100px;
    height: auto;
    float: left;
}
.item-loop-list-thumb .ad-box .caption{
    width: 60%;
    float: left;
}
.item-loop-list-thumb .ad-box .ad-box-footer{
    width: 20%;
    float: right;
}
.item-loop-list-thumb .ad-box .ad-box-category{
    border-top: none;
}

.item-loop-list-thumb .ad-box .ad-box-caption-title{
    height: auto;
}

/** Search filter bar */
.listingTopFilterBar {
    background: #ffffff none repeat scroll 0 0;
    margin-top: 10px;
    min-height: 50px;
}
ul.filterAdType {
    margin: 0 0 0 3px;
    padding: 0;
}
ul.filterAdType li {
    display: inline-block;
    list-style: outside none none;
    margin-left: -3px;
}
ul.filterAdType li a {
    color: #777777;
    display: block;
    line-height: 48px;
    padding: 0 20px;
}
ul.filterAdType li.active a, ul.filterAdType li a:hover {
    background: #f4f4f4 none repeat scroll 0 0;
    color: #000;
}
ul.listingViewIcon li {
    display: inline-block;
    list-style: outside none none;
}
ul.listingViewIcon li a {
    color: #777777;
    line-height: 50px;
    padding: 0 10px;
}
ul.listingViewIcon li a:hover {
    color: #000000;
}
ul.listingViewIcon li.shortByListingLi ul li {
    display: block;
}
ul.listingViewIcon li.shortByListingLi ul li a {
    line-height: 30px;
}

.itemViewFilterWrap {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}
/*
Ad box
*/
.modern-img-indicator{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.2);
    font-size: 11px;
    padding: 5px;
    color: #ffffff;
}
#regular-ads-container{
    padding: 20px 0;
    background: #f9f9f9;
}
#premium-ads-container{
    padding: 20px 0;
}
.front-ads-head {
    margin-bottom: 20px;
}
.ad-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-bottom: 20px;
}
.ad-box .ads-thumbnail {
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 3px 3px 0 0;
    height: 158px;
}
.ad-box .caption {
    background: #fff none repeat scroll 0 0;
    padding: 7px 10px;
}
.ad-box-caption-title {
    height: 32px;
    margin-bottom: 5px;
    overflow: hidden;
}
.front-ads-head > h2 {
    max-width: 250px;
    padding-bottom: 15px;
    font-size: 25px;
    margin: 0 auto;
    color: #CCCCCC;
    text-align: center;
}
.ad-box-caption-title .ad-box-title {
    color: #666666;
}
.ad-box-category {
    font-size: 11px;
    height: 30px;
    border-top: 1px solid #e7e7e7;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ad-box-footer {
    background-color: #f6f6f6;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 0 #fff inset;
    padding: 5px 8px;
    position: relative;
}
.ad-box-price {
    font-size: 12px;
}
.ad-box-premium i {
    margin-top: 7px;
    color: #f21aa5;
}
.ad-box-premium {
    border-left: 1px solid #ddd;
    color: #aaa;
    cursor: default;
    height: 28px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    transition: color 0.15s linear 0s;
    width: 29px;
}
.ad-box-premium img {
    max-height: 25px;
    width: auto;
}
/**
Countries
 */

.country-name{
    margin-bottom: 10px;
    font-size: 16px;
}
.country-name a{
    color: #777777;
}
/**
Create ad
 */
.image-ad-more-wrap {
    margin-top: 20px;
}
.upload-images-input-wrap .form-control {
    margin-top: 10px;
}
/** Footer */
#footer {
    background: #222;
    padding: 30px;
    text-align: center;
    color: #ffffff;
}
ul.footer-menu {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.footer-menu li{
    display: inline-block;
}
ul.footer-menu li a{
    padding: 0 10px;
}
.footer-social-links ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer-social-links ul li {
    display: inline-block;
}
.footer-social-links ul li a {
    font-size: 16px;
    margin: 0 5px;
}

.no-content-wrap{
    padding: 100px 0;
    text-align: center;
}
.no-content-wrap h2{
    color: #cccccc;
}

.error-404-wrap {
    padding: 100px 0;
    text-align: center;
}

/** Single ad page */
.single-a-wrap {
    margin-top: 20px;
}
.ads-detail {
    margin-top: 20px;
}
.ads-detail-title {
    color: #cccccc;
}

.widget {
    background: #fafafa;
    box-shadow: 0 0 0 1px #e2e2e2 inset;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}
.widget h3 {
    color: #666666;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 10px;
}
.ad-info-name{
    width: 120px;
    font-weight: 400;
}
.ad-info-value{

}
.ad-info-value, .ad-info-name{
    display: table-cell;
}

.ad-action-list {
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
}
.ad-action-list li a {
    display: block;
    margin-bottom: 5px;
}
.sidebar-user-info{
    margin-bottom: 20px;
}
.ad-single-user-avatar, .ad-single-user-info{
    display: table-cell;
    vertical-align: top;
}
.ad-single-user-avatar {
    max-width: 50px;
}
.ad-single-user-info{
    padding-left: 10px;
}
.ad-single-user-info h5 {
    margin: 0 0 10px;
}
.similar-ads .ad-box{
    box-shadow: none;
}
.post-ad-call-to-cation {
    text-align: center;
    padding: 20px 0 40px;
    color: #727272;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.company-name{
    color: #008c23;
}
.footer-features{
    background: #f6f6f6;
    padding: 30px 0 50px;
    text-align: center;
}
.icon-text-feature{
    color: #727272;
    font-size: 25px;
    font-weight: 300;
    margin: 10px 0 20px;
}
.icon-text-feature i{
    color: #3e8f3e;
}
.list-group-item {
    border: 0;
    border-radius: 0 !important;
    color: #666666;
    font-size: 14px;
    background-color: transparent;
}
.cars-vehicles-summery {
    background: #f4f4f4 none repeat scroll 0 0;
    margin: 20px 0;
    padding: 10px 0;
}
input#bid_amount {
    max-width: 150px;
}
/*
Auth Form
 */
.register-form, .login-form, .reset-password-form{
    margin: 50px 0;
}
#page-wrapper h1.page-header{
    padding: 10px;
    font-size: 25px;
}

/**
Admin
 */

img.thumb-listing-table{
    max-width: 100px;
    height: auto;
}
#side-menu a {
    font-size: 15px;
}
#side-menu li .label {
    position: absolute;
    right: 25px;
}

/** Google map */
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}
#dvMap {
    height: 100%;
}


/** ====================
 * Comments
 =======================*/
.comments-container {
    margin: 20px auto 15px;
    /*width: 768px;*/
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    position: relative;
    padding: 0;
    margin: 0;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 0;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border: 2px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -30px;
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 30px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 40px;
    height: 40px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 90%;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 90%;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin: 0 10px 0 0;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.post-comments-form, .reply_form_box {
    background: #f4f4f4 none repeat scroll 0 0;
    margin: 20px 0;
    padding: 20px;
    position: relative;
}
.text-danger.reply_form_remove {
    border: 1px solid;
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
}
/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 100%;
    }

    .comments-list .comment-box {
        width: 90%;
    }

    .reply-list .comment-box {
        width: 90%;
    }
}


@media (max-width:991px){
    .home-top-searchbar, .home-search-wrap{
        height: 400px;
    }
    .home-search-section-inner .form-group{
        margin-bottom: 10px;
        clear: both;
        display: block;
    }
    .home-search-section-inner .select2-container{
        width: 100% !important;
    }
}


/* Devices --- */
.demobar {
    background: #222 none repeat scroll 0 0;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #ccc;
    position: relative;
    z-index: 2;
    padding: 5px 0;
    text-align: center;
}

/**
Auction
 */

#sub-header {
    width: 100%;
    height: 42px;
    background: #2f5e8e;
}

@media (max-width: 767px) {
    #sub-header {
        height: 84px;
    }
}
#sub-header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sub-header ul li {
    display: inline-block;
    padding: 10px 5px;
}
#sub-header ul li a {
    font-size: 13px;
}
#sub-header ul li a:hover {
    color: #f4c23d;
}
#sub-header .right-info {
    float: right;
}
#sub-header .right-info > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sub-header .right-info > ul > li {
    padding: 15px 15px;
    font-size: 11px;
    border-right: 1px solid #2b5782;
}
#sub-header .right-info > ul > li em {
    font-style: normal;
    font-weight: 700;
}
#sub-header .right-info > ul > li a {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal!important;
}
#sub-header .right-info > ul > li a:hover {
    color: #f4c23d;
}
#sub-header .right-info > ul > li:last-child {
    border-right: none;
}
#sub-header .right-info .dropdown-menu{
    z-index: 9999;
}

#sub-header .right-info .dropdown-menu li {
    padding: 0;
    display: block;
}

#sub-header .right-info .dropdown-menu li a {
    padding: 10px 5px;
}

.nav-sarchbar li:last-child .showLink {
    position: relative;
}
.nav-sarchbar li:last-child .hideLink {
    position: absolute;
    top: 0;
    right: 0;
}
.nav-sarchbar li:last-child #example {
    display: none;
}
.nav-sarchbar li:last-child #example input {
    background-color: #f1f7fb;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 240px;
    display: inline-block;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #888888;
    padding-left: 15px;
}
.nav-sarchbar li:last-child i {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #f1f7fb;
}
.countdown{
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
.place-bid-btn{
    text-align: center;
}


