@font-face {
    font-family: TruenoRg;
    src: url('/assets/fonts/trueno/TruenoRg.otf') format('opentype');
}

.copyright ul{
  list-style: none;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.copyright ul li{
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.copyright ul li a{
  font-size: 1.2em;
}

.fas{
  font-family: "Font Awesome 5 Free";
}

.hiw{
  margin-top:8%;
  height: 70vh;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 50px;
}

.hiw img{
  margin-top: 20px;
  width: 130px;
}

.hiw h3{
  font-size: 1.5em;
  font-weight: 600;
  margin: 16px;
}

.fa-star {
  display: inline-block;
  color: #ebebeb;
  position:relative;
  content: '\f089';
}
.fa-star:last-child {
  margin-right: 0;
}
.fa-star:before {
  content:'\f005';
}
.fa-star.full {
  color: #408af8;
}
.fa-star.half:after {
  content:'\f089';
  color: #ebebeb;
  position: absolute;
  left:0;
  right:50%;
  top:0;
  bottom:0;
  overflow: hidden;
}
.social-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight:700;
  margin-right:20px;
  color: gray;
}
.check-error{
  outline: 1px solid red !important;
}

#ltp{
  position: absolute;
  z-index: -999;
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 2px solid red;
  width: 10px;
  margin-left: 12px;
  margin-top:3px;
  display: none;
}

#ltq{
  position: absolute;
  z-index: -999;
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 2px solid red;
  width: 10px;
  margin-left: 12px;
  margin-top:3px;
  display:none;
}
/** Search filter bar */
.listingTopFilterBar {
  background: #ffffff none repeat scroll 0 0;
  min-height: 50px;
}
ul.filterAdType {
  margin: 0 0 0 3px;
  padding: 0;
}
ul.filterAdType li {
  display: inline-block;
  list-style: outside none none;
  margin-left: -3px;
}
ul.filterAdType li a {
  color: #777777;
  display: block;
  line-height: 48px;
  padding: 0 20px;
}
ul.filterAdType li.active a, ul.filterAdType li a:hover {
  background: #f4f4f4 none repeat scroll 0 0;
  color: #000;
}
ul.listingViewIcon li {
  display: inline-block;
  list-style: outside none none;
}
ul.listingViewIcon li a {
  color: #777777;
  line-height: 50px;
  padding: 0 10px;
}
ul.listingViewIcon li a:hover {
  color: #000000;
}
ul.listingViewIcon li.shortByListingLi ul li {
  display: block;
}
ul.listingViewIcon li.shortByListingLi ul li a {
  line-height: 30px;
}
.result_num{
  padding-top:16px;
}

#search-listing{
  margin-top:0px;
}

.hero-2{
  margin-top:40px;
}


.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.register{
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

#social_buttons .btn{
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  text-align: left !important;
}

#social_buttons .btn:hover{
  color: #fff;
  opacity: 1;
}

#social_buttons{
  margin-top:110px;
}


.or-text {
  position: absolute;
  top:50%;
  text-align: center;
  font-weight: bold;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  padding: 8px 10px;
}

.vl {
  top:120px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #ddd;
  height: 175px;
}

.grey-f{
  color: #dbd9d8 !important;
}

.smaller-font{
  font-size: 12px;
}

.misc-header{
  font-size: 1.8em; margin-bottom: 20px;
  color: #000 !important;
}

.btn-buy{

  padding:10px;
  font-size: 16px !important;
  color: #fff;
}

.listing-price{
  font-size:32px;
  font-weight: 400;
  text-align:center;
  color: #000 !important;
}

.referral-info-left{
  display: inline-block;
  width: 120px;
  font-weight: 600;
}

.payment-misc{
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.referral-info-right{
  display: inline-block;
}
.referral-info{
  width: 100%;
  padding: 10px 0px;
  display: inline-block;
  border-top: 1px solid #f0f0f0;
}

.misc-headers{
  font-size: 22px;
  font-weight: 600;
}

.pp-button{
  padding:10px;
  font-size: 16px !important;
  color: #fff;
  float: right !important;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 26px;
}

.payment-success-wrap{
  padding: 100px;
}

#left-th{
  min-width:200px;
  font-weight: 600;
  text-transform: uppercase;

}

.approve-tb{
  border: none !important;
}

.reserved-overlay{
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height:100%;
  position: absolute;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 1.8em;
}



.inner-container {
  background: #fff;
  position: absolute;
 /* 25% from the top */
  margin-top: -55px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid #f0f0f0;
  padding:20px;
  width: 700px;
  z-index: 999;
  display: none;
}

.toggler-refine{
  border: 1px solid #f0f0f0;
  background: #f0f0f0;
}

.hide{
  display: none;
}

#form-refined{
  width: 700px !important;
}

.p-range{
  margin-bottom: 10px;
  display: inline-block !important;
}

#input-narrow label{
  float:left;

  margin: 0px !important;
  vertical-align: bottom;
}

#sliders-container{
  margin:0px;
  padding: 0px;
  width: 100%;
}

.slidecontainer-distance, .slidecontainer-location{
  width:100%;
  display: none;
  margin-top:5px;
  margin-bottom: 5px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #0062cc; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

label{
  pointer-events: none !important;
}
.register-form-panel{
  width:60%;
}

.d-image{
  width:80%;
  margin-top:35px;
  margin-bottom: 35px;
}

.d-div{
  padding-top:40px;
}

.hh-div h2{
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.refine-search-link{
  position: absolute;
  margin-top: -34px;
  right:0;
  font-size:12px;
  font-weight: 600;
}

#search-br{
  padding-top: 12px !important;
}

.pbody{
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

.verify-text{
  font-size: 15px;
}

.cold{
  margin: 40px;
}

.required-field{
  color: #EF5350;
}

#post-new-ad{
  height: 90vh;
}

.thankyou-text{
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  margin-top: 120px;
}



.required:after{
  color: red;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-size: 7px;
  content: "\f069";
  position: absolute;
  margin-left: 5px;
}

.reg{
  color:blue;
}

.verify-text{
  font-size:18px;
  padding-left: 50px;
  padding-right: 50px;
}

.fa-star{
  font-size:30px;
}

.user_rating{
  display: inline-block !important;
  color: #c2c2c2;
}

.user_name{
  font-weight:500;
}

.star {
  font-size: 0.9em;
  display: inline-block;
  font-family: FontAwesome;
  color: #dedede;
  position:relative;
  content: '\f089';
}

.star:last-child {
  margin-right: 0;
}

.star:before {
  content:'\f005';
}

.star.full {
  color: #ffd700;
}

.star.half:after {
  content:'\f089';
  color: #ffd700;
  position: absolute;
  left:0;
  right:50%;
  top:0;
  bottom:0;
  overflow: hidden;
}



.rate-listing{
  color:#000 !important;
  margin-top:10px;
}

.rating_popup{
  width:400px;
  min-height:200px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  display:none;
}

#rating_popup {
  transform: scale(0.8);
}

.popup_visible #rating_popup {
  transform: scale(1);
}

.popup-txt{
  font-size:22px;
  margin-top:46px;
  margin-bottom:20px;
  font-weight:bold;
}

#rating-refferal i{
  font-size:30px;
}

.popup_close{
  boder:1px;
  padding:6px;
  text-align: center;
  display: block;
  font-size:20px;
  position:absolute;
  right:0px;
  top:0px;
}

.input-group-text{
  max-width: 420px;
  display: block;
  font-size: 18px;
  padding-left:30px;
  padding-bottom: 5px;
  text-align: left !important;
}

.input-group-text div{
  display:inline-block;
  max-width: 340px;
  vertical-align: top;
  margin-left: 6px;
}

#option{
  display: none;
  margin-bottom: 20px;
}

#option h4{
  font-size:14px !important;
}

.popup-option{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px !important;
  padding-bottom: 10px !important;
}

#thank-you-feedback{
  display: none;
}

#reason-details{
  display: none;
  margin-left:30px;
}

.center-btn{
  display: flex;
  justify-content: center;
}


#remind_me_popup{
  width:340px;
  min-height:200px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  padding-bottom: 20px;
}

.wrapper_close_button{
  width:100%;
  display: inline-block;
  height: 20px;
}

/* start notifiy me pop */
.select2-container{
  z-index: 1000010 !important;
  overflow: visible !important;
}

.select2-selection-single{
  border: 1px solid #ccc !important;
}

.notify_cbx{
  padding-left:20px;
  padding-right:20px;
}

.notify_cbx h4{
  margin-left:16px;
}

.notify_cbx ul{
  list-style: none;
  padding: 0px;
  margin-top: 10px;
  margin-left:16px;
}

.notify_cbx ul li{
  float:left;
  margin-right: 20px;
}


.notify_cbx label{
  text-align: left;
}

.left-loader1{
  position:absolute !important;
  margin-left:80px;
  margin-top:5px;
}

.left-loader2{
  position:absolute !important;
  margin-left:80px;
  margin-top:4px;
}

#popup-dropdown{
  display: inline-block;
  margin-top:5px !important;
  margin-bottom:5px !important;
  width:100%;

}

.popup-text-email{
  min-width:246px;
}

.popup-text-phone{
  min-width:246px;
}

.remind-me-txt{
  display: inline-block;
  width:100%;
}

.popup-input{
  margin-top:20px;
  margin-left: 16px;
  float: left;
}

.popup-input div{
  float:left !important;
  margin-right: 10px;
}

.popup-submit{
  border-radius: .25rem;
  color:#fff;
}

#popup-error{
  color: red;
  margin-bottom: 10px;
  display:none;
  text-align: center;
  width: 100%;
}

.bootstrap-tagsinput{
  border: 0px !important;
  box-shadow: 0px 0px !important;
  background: transparent !important;
}




.label-info {
    background-color: #fafafa;
    font-size: 86% !important;
    color:#333 !important;
    border:1px solid #f0f0f0 !important;
    font-weight:normal;
}

.bootstrap-tagsinput label{
}

.add_btn{
  font-size:13px;
  font-weight: bold;

  margin-left:10px;
  width:100px;
  display: block;

}

#selector-wrapper-city, #selector-wrapper-state, #selector-wrapper-country{
  display: none;
}

.fixed-left{
  width: 100px;
}

#country_tag .label-info span{
  display: none !important;
}

.editable{
  max-width: 200px;
  cursor: default !important;
  border: 0px !important;
  background: transparent !important;
}

.reminder{
  float:right;
  margin-right:20px;
  margin-top:-50px;
  color:red;
}

#btn-save-mail, #btn-save-phone{
  display:none;
  font-size:13px;
  font-weight: bold;
  margin-top:10px !important;
  margin-left:10px;
  color: blue;
}

.misc-text-popup{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.popup-footer{
  font-size:11px;
}

.invalid-id{
  min-height:320px;
}

.thankyou-text{
  max-width: 600px !important;
  height: 500px !important;
  text-align: center;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

.referral-success-buttons{
  margin-top:50px !important;
}

.referral-success-buttons button{
  border: 1px solid #fafafa;
  border-radius: 5px;
  width: 120px;
  margin:10px;
}

#title-company-id{
  font-size: 26px;
  padding:6px !important;
  text-align: center;
  border:1px solid #ddd;
  border-radius: 5px;
}

#title-company-submit{
  height: 44px;
  width:100px;
  border:1px solid #ddd;
  border-radius: 5px;
  font-size: 20px
}

#left-th{
  font-weight: bold;
}

#btn-sold {
  margin:12px;
  padding:6px 12px;
  background-color:#337ab7 !important;
  border:1px solid #2e6da4;
  border-radius: 4px;
  color:#fff;
  font-weight: 500;
}

#btn-cancel {
  margin:12px;
  padding:6px 12px;
  background-color:#d9534f !important;
  border:1px solid #d43f3a;
  border-radius: 4px;
  color:#fff;
  font-weight: 500;
}

.contract_details{
  display: block;
  margin-top:20px;
}


/**this */

.required:after{
  color: red;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-size: 7px;
  content: "\f069";
  position: absolute;
  margin-left: 5px;
}

.reg{
  color:blue;
}

.verify-text{
  font-size:18px;
  padding-left: 50px;
  padding-right: 50px;
}

.fa-star{
  font-size:30px;
}



.user_rating{
  display: inline-block !important;
  color: #c2c2c2;
  margin: 4px 0px;
}

.user_rating span{
  font-size: 20px;
}

.user_name{
  font-weight:500;
}

.id-size{
  width:160px;
}

.star {
  font-size: 0.9em;
  display: inline-block;
  font-family: FontAwesome;
  color: #dedede;
  position:relative;
  content: '\f089';
}

.star:last-child {
  margin-right: 0;
}

.star:before {
  content:'\f005';
}

.star.full {
  color: #ffd700;
}

.star.half:after {
  content:'\f089';
  color: #ffd700;
  position: absolute;
  left:0;
  right:50%;
  top:0;
  bottom:0;
  overflow: hidden;
}

li .check ~ li {
  color: #ffd700 !important;
  cursor:pointer;
}

.rating {
  display: inline-block;
  list-style: none;
  margin-left: -40px;
}

li.check{
  display: inline-block;
  list-style: none;
  color: #ffd700 !important;
}

.rate-listing{
  color:#000 !important;
  margin-top:10px;
}

.rating_popup{
  width:400px;
  min-height:200px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  display:none;
}

#rating_popup {
  transform: scale(0.8);
}

.popup_visible #rating_popup {
  transform: scale(1);
}

.popup-txt{
  font-size:22px;
  margin-top:46px;
  margin-bottom:20px;
  font-weight:bold;
}

#rating-refferal i{
  font-size:30px;
}

.popup_close{
  boder:1px;
  padding:6px;
  text-align: center;
  display: block;
  font-size:20px;
  position:absolute;
  right:0px;
  top:0px;
}

.input-group-text{
  max-width: 420px;
  display: block;
  font-size: 18px;
  padding-left:30px;
  padding-bottom: 5px;
  text-align: left !important;
}

.input-group-text div{
  display:inline-block;
  max-width: 340px;
  vertical-align: top;
  margin-left: 6px;
}

#option{
  display: none;
  margin-bottom: 20px;
}

#option h4{
  font-size:14px !important;
}

.popup-option{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px !important;
  padding-bottom: 10px !important;
}

#thank-you-feedback{
  display: none;
}

#reason-details{
  display: none;
  margin-left:30px;
}

.center-btn{
  display: flex;
  justify-content: center;
}


#remind_me_popup{
  width:340px;
  min-height:200px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  padding-bottom: 20px;
}

.wrapper_close_button{
  width:100%;
  display: inline-block;
  height: 20px;
}

/* start notifiy me pop */
.select2-container{
  z-index: 1000010 !important;
  overflow: visible !important;
}

.select2-selection-single{
  border: 1px solid #ccc !important;
}

.notify_cbx{
  padding-left:20px;
  padding-right:20px;
}

.notify_cbx h4{
  margin-left:16px;
}

.notify_cbx ul{
  list-style: none;
  padding: 0px;
  margin-top: 10px;
  margin-left:16px;
}

.notify_cbx ul li{
  float:left;
  margin-right: 20px;
}


.notify_cbx label{
  text-align: left;
}

.left-loader1{
  position:absolute !important;
  margin-left:80px;
  margin-top:5px;
}

.left-loader2{
  position:absolute !important;
  margin-left:80px;
  margin-top:4px;
}

#popup-dropdown{
  display: inline-block;
  margin-top:5px !important;
  margin-bottom:5px !important;
  width:100%;

}

.popup-text-email{
  min-width:246px;
}

.popup-text-phone{
  min-width:246px;
}

.remind-me-txt{
  display: inline-block;
  width:100%;
}

.popup-input{
  margin-top:20px;
  margin-left: 16px;
  float: left;
}

.popup-input div{
  float:left !important;
  margin-right: 10px;
}

.popup-submit{
  border-radius: .25rem;
  color:#fff;
}

#popup-error{
  color: red;
  margin-bottom: 10px;
  display:none;
  text-align: center;
  width: 100%;
}

.bootstrap-tagsinput{
  border: 0px !important;
  box-shadow: 0px 0px !important;
  background: transparent !important;
}




.label-info {
    background-color: #fafafa;
    font-size: 86% !important;
    color:#333 !important;
    border:1px solid #f0f0f0 !important;
    font-weight:normal;
}

.bootstrap-tagsinput label{
}

.add_btn{
  font-size:13px;
  font-weight: bold;

  margin-left:10px;
  width:100px;
  display: block;

}

#selector-wrapper-city, #selector-wrapper-state, #selector-wrapper-country{
  display: none;
}

.fixed-left{
  width: 100px;
}

#country_tag .label-info span{
  display: none !important;
}

.editable{
  max-width: 200px;
  cursor: default !important;
  border: 0px !important;
  background: transparent !important;
}

.reminder{
  float:right;
  margin-right:20px;
  margin-top:-50px;
  color:red;
}

#btn-save-mail, #btn-save-phone{
  display:none;
  font-size:13px;
  font-weight: bold;
  margin-top:10px !important;
  margin-left:10px;
  color: blue;
}

.misc-text-popup{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.popup-footer{
  font-size:11px;
}

.invalid-id{
  min-height:320px;
}

.thankyou-text{
  max-width: 600px !important;
  height: 500px !important;
  text-align: center;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

.referral-success-buttons{
  margin-top:50px !important;
}

.referral-success-buttons button{
  border: 1px solid #fafafa;
  border-radius: 5px;
  width: 120px;
  margin:10px;
}

#title-company-id{
  font-size: 26px;
  padding:6px !important;
  text-align: center;
  border:1px solid #ddd;
  border-radius: 5px;
}

#title-company-submit{
  height: 44px;
  width:200px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid #ddd;
  border-radius: 5px;
  font-size: 20px
}

#left-th{
  font-weight: bold;
}

#btn-sold {
  margin:12px;
  padding:6px 12px;
  background-color:#337ab7 !important;
  border:1px solid #2e6da4;
  border-radius: 4px;
  color:#fff;
  font-weight: 500;
}

#btn-cancel {
  margin:12px;
  padding:6px 12px;
  background-color:#d9534f !important;
  border:1px solid #d43f3a;
  border-radius: 4px;
  color:#fff;
  font-weight: 500;
}

.contract_details{
  padding:5px;
}

.imglist{
  height: 500px !important;
  width: 100%;
}

.imglist-img{
  height: 500px !important;
  width: 100%;
}

.imggrid{
  height: 200px;
}

.imggrid-img{
  height: 200px !important;
}

.lbt-wrapper{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lbt-wrapper h5{
  text-align: center;
}

.lbt-wrapper .form-check-inline{
  display: block;
  margin: 10px;
}

.imglv{
  padding-left: 180px !important;
  padding-top: 14px;
  height: 160px;
  margin-top: -200px;
}



.imglv-img{
  height: 160px !important;
  width: 160px !important;
}

.search-radio{
  font-size: 12px !important;
  margin-bottom: 3px;
  font-weight: 600;
  text-align: left;
  color: #000;
}

.search-radio-label{
  font-size: 12px !important;
  font-weight: 600;
  text-align: left;
  color: #000;
}

.form-check-input{
  width:12px;
  height: 12px;
}


#rating-referral h3{
  font-size: 20px;
  padding:16px;
}

#rating-referral h4{
  font-size: 20px;
  padding:16px;
}

.input-groups{
  font-family: 'Montserrat', sans-serif;
    color: #7d7d7d !important;
    font-size: 20px !important;
    padding-left:10px
}

.input-group-text{
    background-color: #d4d4d4;
    font-size: 12px;
    min-width: 76px;
    text-align: center;
    padding:10px !important;
}

.sup-info{
  float: right !important;
  font-weight: 100 !important;
  font-size: 14px !important;
}

.sup-info-reserved{
  float: right !important;
  font-weight: 100 !important;
  font-size: 14px !important;
  margin-top: -10px;
}

.sup-info2, .sup-info3{
  position: absolute; right: 0;
  margin-top: -10px;
  margin-right: 20px;
  font-size: 10px !important;
  color: blue;
  cursor: pointer;
}

.margin20{
  margin-left:-18px;
}

.recent-unq{
  position: absolute;
  color: #fff;
  z-index: 99;
  font-size: 8px;
  padding: 6px;
  margin-top: 6px;
  border-radius: 2px;
  transform: translate(0, -5px);
  background-color: rgba(0, 0, 0, 0.7);
}

.featured-unq{
  position: absolute;
  color: #fff;
  z-index: 99999;
  font-size: 12px;
  padding: 6px;
  margin-top: 6px;
  border-radius: 2px;
  transform: translate(0, -5px);
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-group2{
  margin-top: -10px;
}

#qq{
  display: none;
}

.q-text{
  margin-left: 18px !important;
  margin-right: 18px !important;
}

.q-search{
  border: 1px solid #c0c0c0 !important;
  border-radius: 0px 2px;
  width: 600px;
  padding: 6px;
  border-right: 0px !important;
}

.search-refine{
  font-weight: 600 !important;
  margin-left: 146px;
  margin-top: 8px;
}

.search-radio{
  margin-top: -4px;
  margin-left: -80px !important;
}

#dropdown-loc, #dropdown-dist{
  width: 300px;
  background: #FFF;
  padding: 20px;
}

#dropdown-loc, #dropdown-dist{
  display: none;
}

#ok-loc, #ok-dist{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#tagval{

  padding:5px;
  font-size: 12px;
  position: absolute;
  margin-top: 5px;
  display: none;
}

#hiddentext{
  margin-left:-100000px;
  display: inline-block !important;
  padding: 8px;
}

#tagclose{
  color:#c62828;
  cursor:pointer;
}

.recent-single{
  margin-bottom: 20px !important;
}

.ul-ltype{
  padding:0px;
  margin:0px;
  list-decoration:none;
}

.ul-ltype li{
  padding:2px;
  margin-left:-8px;
}

.ul-ltype2 li{
float:left;
}

#reserve_button{
  padding:6px;
  font-size: 16px;
}

.tl{
  padding: 6px;
  margin:6px;
  text-align: left;
}
.tl li{
text-align: left !important;
margin-left:12px;
}

.htl{
  font-size: 16px;
  color: #fff;
  margin-top:6px;
}

.widget2{
  width: 60%;
  float: right;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

.iga{
  display:inline-block !important;
  margin-top: 10px !important;
}

.post-flow .col-form-label{
  margin-top: 5px !important;
  padding-right: 26px !important;

}

.carousel-item img{
  max-height: 500px;
}

.help-block{
  color: red;
  font-size: 12px;
}

.to-reserve{
  font-size: 12px;
}

#recent-title2{
  display:none;
}

.remind-user-search{
  margin-top:30px;
}


.chk-remind{
  display: none;
}

.dblock{
  margin-top:20px !important;
}

#btn-user-remind{
  margin-bottom: 20px;
}

.mb{
    width:90%;
  display:none;
  text-align: center;
  font-weight: 500;
}

.dt{
  display: block;
}

.save-lead{
  margin-top: 16px !important;
  width: 92%;
  font-size: 12px;
  padding: 6px;
  text-align: center;
}

.ad-watching{
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.mv-icon{
  width:18px;
  margin-top:-3px;
}

.mr-6{
  width: 140px;
  margin-right: 12px;
}

.conceal {
  font-size: 6px;
  margin-right: 2px;
  color: #7d7d7d;
}

.ui-autocomplete {
  z-index: 9999;
  max-height: 300px !important;
  overflow-y: auto !important;
  /* prevent horizontal scrollbar */
  overflow-x: hidden !important;
  -webkit-box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.66);
  box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.66);
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 300px;
  -webkit-box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.66);
  box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.66);
}

.datepicker{
  padding: 12px;

}

.datepicker table{
  min-width: 220px;
}

.datepicker .disabled{
  color: #e0e0e0;
}

.datepicker .today{
  background:#408af8;
  color: #fff;
}

.datepicker .day {
    padding: 3px;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    cursor:pointer;
}

.datepicker .dow{
  font-size: 13px;
  text-align: center;
}

.datepicker td:hover {
  background:#408af8;
  color: #fff;
}

.datepicker-days .new, .datepicker-days .old{
  color: #bdbdbd;
}

.datepicker-days .next, .datepicker-days .prev{
  cursor:pointer;
  text-align: center;
}

.datepicker-switch{
  text-align: center;
}

#date_list{
  font-weight: 500;
  font-size: 13px;
  background: #f0f0f0;
  padding: 6px;
  margin-left: 13px;
  border: 1px solid #f0f0f0;
}

#dte-list{
  display: none;
  margin-top: -26px !important;
  margin-left: 124px;
}

.datepicker-days table td{
  cursor: pointer;
}
