.plans-container{
  width:100%;
  background: #f0f0f0;
  display: block;
  padding-bottom: 180px;
}

.select-option{
  padding: 30px;
}

.box{
  width: 96%;
  border: 1px solid #eee;
  background: #fff;
  padding-bottom: 30px;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  -moz-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  margin-bottom: 30px;

}

.box .price{
  font-size: 3.2rem;
  font-weight: 600;
  color: #007bff;
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 20px;
  line-height: 1px;

}

.box .price_plan{
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.box:hover{
  -webkit-box-shadow: 1px 8px 52px -14px #888888;
  -moz-box-shadow: 1px 8px 52px -14px #888888;
  box-shadow: 1px 8px 52px -14px #888888;
}


.box ul{
  width: 82%;
}

.box ul li{
  padding-bottom: 14px;
}

.txt-important{
  width: 90%;
  background: none repeat scroll 0 0 #fafafa;
  margin-left: auto ;
  margin-right: auto;
  padding: 20px;
  position: absolute;
  font-size: 12px;
}

.txt-important:after, .txt-important:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.txt-important:after {
  border-color: solid transparent;
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.txt-important:before {
  border-color: none;
  border-bottom-color: none;
  border-width: 16px;
  margin-left: -16px;
}

.btn-upload a{
  position: relative;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 14px;
}

.txt-just-mobile{
  display: none;
}

.txt-important{
  display: block;
}

.esignature-plan-frm{
  width: 100% !important;
  max-height: 220vh;
  height: 220vh
}

#framewrapper{
  width: 100%;
}

.form-horizontal{
  width: 50%;
}
