/* css for small devices */
@media only screen and (max-width: 576px ) {

  body{
    font-size: 14px;
  }
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 20px;
  }
  .item-price h1 {
    text-align: left;
    font-size: 28px;
  }
  .mini-btn{
    float: left!important;
  }
  .item-price a{
    text-align: left;
  }
  header{
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .logo-top img{
    width: 70% !important;
    height: auto;
  }
  .footer-logo img{
    width: 40%;
  }
  .navbar-collapse {
    padding-top: 15px;
  }
  .single-section{
    padding-left: 0;
  }
  .summary{
    padding: 10px;
  }
  .summary .feature-list li{
    font-size: 12px;
  }
  .page-title{
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
  }
  .page-title h1{
    font-size: 28px;
  }
  .page-title h4{
    font-size: 14px;
  }
  .nav-link:hover::after{
    width: 0;
    transition: none;
  }
  .active .nav-link::after{
    height: 0!important;
  }
  .nav-item {
    padding-left: 0;
    text-align: center;
    border-top: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .hero {
    background: url(/assets/img/tymbl/img_hero.svg);
    background-position-x: left%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    padding: 7% 5% 10% 5%;
    background-size: cover;
  }
  .hero-2{
    padding: 1% 5% 5% 5%;
  }
  .input-group-prepend{
    width: 100%;
  }
  .navbar-toggler{
    float:right !important;
  }
  #social_buttons .btn {
    width: 100%;
  }
  .vl{
    display: none;
  }
  #social_buttons{
    margin-top: 30px;
  }
  .col-form-label {
    text-align: left;
  }

  #label-type{
    padding-left: 0px !important;
    padding-bottom:8px;
  }
  .register-form-panel{
    width:100%;
  }
  .d-image{
    width:100%;
  }
  .page-header{
    width: 100% !important;
    text-align: center !important;
    display: inline-block !important;
    padding-left: 0px !important;
    margin-left: 0px;
  }

  .refine-search-link{


    font-size:12px;
  }
  .pbody{
    width:90%;
  }

  .q-search{
    width: 90%;
  }
  .search-radio {
    margin-top: -4px;
    margin-left: 0px !important;
  }
  .widget2{
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .ids{
    margin-left:14px !important;
  }

  .carousel-item img{
    max-height: 300px;
  }

  #btn-user-remind{
    width:90%;
  }

  .mb{
    display:block;
  }

  .dt{
    display: none;
  }
  .hiw{
    height: 100%;
    font-weight: 500;
    padding: 50px;
  }

  .btn-group2{
    width: 100%;
    display: inline-block;
    margin-top: 12px;
  }

  .lbl-sm{
    margin-left: -18px;
    margin-top: 10px;

  }

  #qq{
    display: none;
    margin-top: -30px;
  }

  .p-sm{
    margin-left: -8px;
  }


  #dte-list{
    margin-left:-9px;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  #recent-title2 #item{
    width: 100px !important;
    margin-top:-20px !important;
    z-index: 99 !important;
    text-align: center !important;
    font-size: 12px;
    border: 0px !important;
    margin-left: -30px !important;
  }

  #recent-title2 #item:hover{
    background: none !important;
    color: #000;
  }



  .imglv {
    font-size: 14px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
  }

  .recent-price{
    font-size: 18px !important;
  }

  .resp-30{
    padding-left: 20px;
    margin-top: -30px;
    padding-bottom: 10px;

    display: flex;
  }

  .resp-30 h5{
    font-size: 14px;
  }

  .txt-just-mobile{
    display: block !important;
  }

  .txt-important{
    display: none !important;
  }

  .esignature-plan-frm{
    width: 100% !important;
    max-height: 280vh !important;
    height: 400px !important;
    overflow-y: scroll;
  }

  .section-agent-upload{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
  }

  .form-horizontal{
    width: 100%;
  }
}

/* for tabs */
@media only screen and (max-width: 768px) and (min-width: 575px) {
  .page-title h1{
    font-size: 40px!important;
  }
  .page-title h4{
    font-size: 18px!important;
  }
  .nav-link:hover::after{
    width: 0;
    transition: none;
  }
  .active .nav-link::after{
    height: 0!important;
  }
  .nav-item {
    padding-left: 0;
    text-align: center;
    border-top: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-toggler{
    float:right !important;
  }
  #social_buttons .btn {
    width: 100%;
  }
  .vl{
    display: none;
  }
  #social_buttons{
    margin-top: 30px;
  }
  .col-form-label {
    text-align: left;
  }

  #label-type{
    padding-left: 0px !important;
    padding-bottom:8px;
  }
  .register-form-panel{
    width:100%;
  }
  .d-image{
    width:100%;
  }
  .page-header{
    width: 100% !important;
    text-align: center !important;
    display: inline-block !important;
    padding-left: 0px !important;
    margin-left: 0px;
  }

  .refine-search-link{


    font-size:12px;
  }
  .pbody{
    width:90%;
  }
  .q-search{
    width: 90%;
  }
  .search-radio {
    margin-top: -4px;
    margin-left: 0px !important;
  }
  .widget2{
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .select2{
    width:90% !important;
  }

  #btn-user-remind{
    width:90%;
  }


  .mb{
    display:block;
  }

  .dt{
    display: none;
  }

  .hiw{
    height: 100%;
    font-weight: 500;
    padding: 50px;
  }

  #dte-list{
    margin-left:-9px;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  #recent-title2 #item{
    width: 100px !important;
    margin-top:-20px !important;
    z-index: 99 !important;
    text-align: center !important;
    font-size: 12px;
    border: 0px !important;
    margin-left: -30px !important;
  }

  #recent-title2 #item:hover{
    background: none !important;
    color: #000;
  }

  .imglv .recent-title{
    font-size: 14px !important;
    width: 100px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .recent-price{
    font-size: 18px !important;
  }

  .resp-30{
    padding-left: 20px;
    margin-top: -30px;
    padding-bottom: 10px;

    display: flex;
  }

  .resp-30 h5{
    font-size: 14px;
  }

  .txt-just-mobile{
    display: block !important;
    font-size: 12px;
    padding: 10px;
  }

  .txt-important{
    display: none !important;
  }

  .txt-important{
    display: none !important;
  }

  .esignature-plan-frm{
    width: 100% !important;
    max-height: 280vh !important;
    height: 400px !important;
    overflow-y: scroll;
  }

  .section-agent-upload{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
  }

  .form-horizontal{
    width: 100%;
  }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .navbar-toggler{
    position: absolute;
    right: 0;
    top: 16px;
    outline: 0 !important;
    border: 0px;
    outline-style: none;
  }
  #logo{
    width: 40% !important;
  }
  #menu{
    outline: none !important;
  }

  #social_buttons .btn {
    width: 100%;
  }
  .vl{
    display: none;
  }

  #social_buttons{
    margin-top: 30px;
  }
  .col-form-label {
    text-align: left;
  }

  #label-type{
    padding-left: 0px !important;
    padding-bottom:8px;
  }

  .register-form-panel{
    width:100%;
  }

  .d-image{
    width:100%;
  }

  .page-header{
    width: 100% !important;
    text-align: center !important;
    display: inline-block !important;
    padding-left: 0px !important;
    margin-left: 0px;
  }

  .refine-search-link{


    font-size:12px;
  }

  .pbody{
    width:90%;
  }

  .q-search{
    width: 90%;
  }

  .search-radio {
    margin-top: -4px;
    margin-left: 0px !important;
  }

  .widget2{
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .select2{
    width:90% !important;
  }

  #btn-user-remind{
    width:90%;
  }

  .mb{
    display:block;
  }

  .dt{
    display: none;
  }
  .hiw{
    height: 100%;
    font-weight: 500;
    padding: 50px;
  }

  #dte-list{
    margin-left:-9px;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  #recent-title2 #item{
    width: 100px !important;
    margin-top:-20px !important;
    z-index: 99 !important;
    text-align: center !important;
    font-size: 12px;
    border: 0px !important;
    margin-left: -30px !important;
  }

  #recent-title2 #item:hover{
    background: none !important;
    color: #000;
  }

  .imglv .recent-title{
    font-size: 14px !important;
    width: 100px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .recent-price{
    font-size: 18px !important;
  }

  .resp-30{
    padding-left: 20px;
    margin-top: -30px;
    padding-bottom: 10px;

    display: flex;
  }

  .resp-30 h5{
    font-size: 14px;
  }

  .txt-just-mobile{
    display: block !important;
    font-size: 12px;
    padding: 10px;
  }

  .txt-important{
    display: none !important;
  }

  .esignature-plan-frm{
    width: 100% !important;
    max-height: 280vh !important;
    height: 400px !important;
    overflow-y: scroll;
  }

  .section-agent-upload{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 90%;
  }

  .form-horizontal{
    width: 100%;
  }
}
