/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Roboto:400,700&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'TruenoRegular', sans-serif;
    font-weight: 400;
    color: #7d7d7d;
    font-size: 14px;
}

main {
    margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
    color: #2c374d;
}

a {
    color: #2c2f33;
    transition: .3s ease-in-out;
}

a:hover {
    color: #408af8;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #2c2f33;
    font-size: 30px;
    font-weight: 600;
}

h2 {
    color: #2c2f33;
    font-size: 22px;
    font-weight: 700;
}

h3, h4 {
    font-weight: 500;
}

header {
    padding: 20px 0;
    background: #fff;
    z-index: 999;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px #cecece91;
}

.section-head::after {
    color: #408af8;
    display: block;
    height: 3px;
    font-weight: bold;
    background-color: #408af8;
    content: " ";
    width: 50px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.bg-light {
    background-color: #fff !important;
}

.nav-item {
    padding-left: 2.2rem;
    text-align: center;
}

.nav-item {
    font-weight: 600;
    color: #2c2f33 !important;
    text-transform: uppercase;
    font-size: 11px;
    transition: .3s ease-in-out;
}

.btn-primary, .btn-outline-primary {
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 2px !important;
}

.btn {
    /* color: #fff!important; */
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.view-item-loaction img {
    padding-right: 10px;
}

.item-price h1 {
    text-align: right;
    font-size: 36px;
    font-weight: 700;
    color: #2c2f33;
}

.item-head, .item-price {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mini-btn {
    font-size: 10px;
    color: #2c2f33;
    border: 1px solid #2c2f33;
    border-radius: 30px;
    padding: 3px 10px;
    margin: 0 5px;
    float: right;
}

.mini-btn:hover {
    background: #408af8;
    border: 1px solid #408af8;
    color: #fff;
    text-decoration: none;
}

.item-price a {
    text-align: right;
}

.summary {
    background: #e1e1e17a;
    padding: 1rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 1rem;
}

.feature-list {
    padding: 0px;
    margin: 0px;
}

.feature-list li {
    font-family: 'Montserrat', sans-serif;
    width: 33%;
    float: left;
    /* font-size: 12px; */
    line-height: 36px;
    list-style: none;
    color: #7d7d7d;
}

.feature-list li i {
    font-size: 16px;
    margin-right: 10px;
    color: #408af8;
}

.mt-0 {
    font-weight: bold;
    font-size: 14px;
    color: #2c2f33;
}

.media-body {
    font-size: 14px;
}

.other-comments {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #ebebeb;
}

.form-control {
    display: block;
    width: 100%;
    color: #495057;
    background-color: #ebebeb;
    background-clip: padding-box;
    border: 1px solid #ebebeb;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment-section form {
    padding-bottom: 30px;
}

.single-section {
    margin-bottom: 70px;
}

.similar-ad-price {
    font-weight: 700;
    font-size: 16px;
    color: #7d7d7d;
}

.similar-single-ad {
    padding-bottom: 20px;
}

.media-body a h5 {
    transition: .3s ease-in-out;
}

.media-body a h5:hover {
    color: #408af8;
    text-decoration: none;
}

footer {
    padding: 60px 30px 40px 30px;
    /*border-top: 12px solid #e1e1e1;*/
}

.footer-links a {
    color: #fff;
}

.footer-links a:hover {
    color: #ccc
}

.social .fab {
    background-color: #151f25;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all .3s ease-in-out;
    width: 40px;
}

.social .fab:hover {
    background-color: #408af8;
}

.social a {
    margin: 0 10px 0 0;
}

.social i {
    font-size: 19px;
}

.copyright {
    padding-top: 40px;
    color: #8095a1;
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #e1e1e1;
}

.footer-col {
    padding-bottom: 40px;
}

.tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    padding: 8px 0;
}

.tab ul li .topic-value {
    float: right;
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.posting-buttons button {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;;
}

.navbar-light .navbar-nav .nav-link {
    color: #2c2f33;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #408af8;
}

.foot-note {
    background: #e1e1e17a;
    padding: 40px 0;
}
.core-features{
    padding: 65px 0;
}
.core-features img {
    padding-top: 10px;
    padding-bottom: 20px;
}
.core-features h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

section .section-title h1 {
    text-align: center;
}

section .section-title h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.core-features h4 {
    color: #2c2f33;
    font-size: 16px;
    font-weight: 700;
}

.all-features {
    padding-top: 30px;
    padding-bottom: 30px;
}

.all-features .col-sm-3 {
    padding-right: 60px;
    padding-left: 60px;
}

.posting-buttons i {
    margin-right: 10px;
}


.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}


/* animation x */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 20px;
    display: none;
    background: #408af8;
    color: #fff;
    padding: 7px 20px;
    border-radius: 2px 2px 0 0;
    white-space: nowrap;
}

.back-to-top:hover {
    background: #3373d3;
    color: #fff;
}

.single-faq {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
}

.single-faq h4 {
    line-height: 1.5;
}

.page-header {
    background: #ecebeb;
    padding-top: 18px;
    padding-bottom: 15px;
}

.page-header h1 {
    text-align: center;
}

.page-title {
    background-image: url('/assets/img/tymbl/page-title-bg.jpg');
    background-attachment: fixed;
    background-size: 70% 100%;
    /* background-size: contain; */
    background-position-x: right;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
}

.page-title-text {
    width: 50%;
    background: #fff;
    padding: 5%;
}

.page-title h1 {
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
}

.page-title h4 {
    font-weight: 600;
    text-transform: uppercase;
    color: #7d7d7d;
    line-height: 1.5;
}

/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
}

.footer-links .link-item {
    padding-bottom: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #408af8;
    transition: width .2s ease-in-out;
    margin-top: 5px;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #408af8;
}

.active .nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #408af8;
    color: #408af8;
}

.active .nav-link:hover::after, .nav-link:hover::after {
    width: 100%;
    transition: width .2s ease-in-out;
}

.hero {
    background: url('/assets/img/tymbl/img_hero.svg') no-repeat center bottom;
    -webkit-background-size: cover;
    background-size: cover;
    padding:5% 0px;
}

.hero-text {
    padding: 25px 25px 40px;
}

.hero h2 {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.hero h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

.hero-search-form .form-control {
    background: #fff;
}

.input-group-prepend {
    width: 700px;
}

.input-group-prepend > .custom-select:not(:first-child), .hero-search-form .btn-primary {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.input-group-prepend > .custom-select:first-child, .input-group-prepend > .custom-select:nth-child(2) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.featured-property {
    padding-top: 35px;
    /* padding-bottom: 25px; */
}

.featured-thumb {
    position: relative;
    /* width: 100%; */
    min-height: 300px;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
}

.featured-price {
    position: absolute;
    bottom: 5px;
    left: 10px;
    transform: translate(0, -5px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 20px;
    color: #fff;
    border-radius: 2px;
}

.featured-price .price h2, .featured-price .price h3 {
    color: #fff;
    text-align: left;
}

.featured-price .price h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 3px;

}

.featured-price .price h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}

.featured-favorite {
    position: absolute;
    bottom: 5px;
    right: 13px;
    transform: translateX(-13px);
    transform: translateY(-5px);
    background-color: #3373d3;
    border-radius: 2px;
    cursor: pointer;
}

.featured-favorite-active {
    position: absolute;
    bottom: 5px;
    right: 13px;
    transform: translateX(-13px);
    transform: translateY(-5px);
    background-color: red;
    border-radius: 2px;
    cursor: pointer;
}

.featured-favorite i {
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
}

.featured-thumb img {
    position: absolute;
    object-fit: cover;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 300px;
    width: 100%;

}

.featured-property-single {
    margin-bottom: 15px;
}

.featured-property-single .featured-body {
    padding: 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 0 0 2px 2px;
}

.featured-body h3, .featured-body p {
    text-align: left;
}

.featured-title h4 {
    font-size: 18px;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.featured-title h4:hover {
    color: #408af8;
}

small {
    color: #999999;
}

.featured-details {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.7;
}

.featured-view-button {
    padding-top: 20px;
    font-weight: bold;
    /* font-size: 16px; */
}

.featured-view-button i {
    margin-left: 3px;
}

.owl-carousel {
    display: inline;
}

.col {
    padding-left: 14px;
    padding-right: 14px;
}

.recent-items {
    padding-top: 3rem;
}

.recent-thumb {
    position: relative;
    /* width: 100%; */
    min-height: 200px;
    overflow: hidden;
    border-radius: 2px 2px 0 0;
}

.recent-thumb img {
    position: absolute;
    object-fit: cover;
    /* left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%); */
    height: 200px;
    width: 100%;
    transition: transform 0.4s ease-in-out;

}

.recent-favorite {
    position: absolute;
    top: 11px;
    right: 26px;
    /* transform: translateX(-21px);
    transform: translateY(-11px); */
    background: #3373d3;
    border-radius: 2px;
    cursor: pointer;
}

.recent-favorite-active {
    position: absolute;
    top: 11px;
    right: 26px;
    /* transform: translateX(-21px);
    transform: translateY(-11px); */
    background: red;
    border-radius: 2px;
    cursor: pointer;
}

.recent-favorite i {
    color: #fff;
    font-size: 14px;
    padding: 7px 10px;
}

.recent-body {
    padding: .7rem;
    border: 1px solid #e1e1e1;
    border-radius: 0 0 2px 2px;
}

.recent-title {
    font-size: 16px;
    font-weight: 600;
}

.recent-price {
    font-size: 20px;
}

.recent-floating-caption {
    position: absolute;
    background-color: #408af8e6;
    color: #fff;
    width: 100%;
    height: 80px;
    font-size: 10px;
    padding: 1rem;
    overflow: hidden;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s ease-in-out;
    /* display: none; */
}

.recent-thumb:hover .recent-floating-caption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s ease-in-out;
}

.recent-view {
    margin-top: 15px;
}

.btn-sm {
    font-size: 10px;
}

.recent-signle {
    margin-bottom: 20px;
}

.homepage-form {
    padding: 25px 0;
}

form a[role="button"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.load-more {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-flow section > h2 {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.post-sec {
    padding-bottom: 7%;
}

.col-form-label, .input-group-append, .form-check-inline {
    margin-top: 10px;
}

.input-group-text {
    background-color: #d4d4d4;
    font-size: 12px;
    min-width: 76px;
}

.col-form-label {
    text-align: right;
    font-weight: 600;

}

input[type=checkbox]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 10;
    transition: .3s ease-in-out;
}

input[type=checkbox]:not(old) + label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    background: url('/assets/img/tymbl/checks.png') no-repeat 0 0;
    line-height: 24px;
    transition: .3s ease-in-out;
}

input[type=checkbox]:not(old):checked + label {
    background-position: 0 -24px;
    transition: .3s ease-in-out;
}


input[type=radio]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}

input[type=radio]:not(old) + label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    background: url('/assets/img/tymbl/radio.png') no-repeat 0 0;
    line-height: 24px;
    transition: .3s ease-in-out;
}

input[type=radio]:not(old):checked + label {
    background-position: 0 -24px;
    transition: .3s ease-in-out;
}

.search-options {
    font-size: 12px;
}
.search-options a{
    padding-left: 15px;
    padding-right: 15px;
}
.leads-referrals-items{
    padding-bottom: 25px;
}
.leads-referrals-items .col-sm-8{
    border-bottom: 1px solid #cccccc;
}
.category-like{
    font-size: 40px;
    color: #bfbfbf;
}
.category-like-active{
    font-size: 40px;
    color: #ff0000;
}
.non-auth-hero{
    padding: 2% 0;
}
.non-auth-hero h1, .non-auth-hero h2{
    text-align: center;
}
.non-auth-hero h1{
    font-size: 45px;
    color: #408af8;
}
.non-auth-hero h2{
    font-weight: normal;
    font-size: 25px;
}

.non-auth-hero img{
    height: auto;
    width: 37%;
}


.who-are-you{
    padding-top: 60px;
    text-align: center;
}
.who-are-you .card{
    padding: 40px;
    background: #cce5ff;
    min-height: 240px;
    margin-bottom: 25px;
    transition: .25s ease-in-out;
}
.who-are-you .card:hover{
    background: #fff3cd;
}
.who-are-you .card .card-body h3{
    text-transform: uppercase;
}
.role-details{
    padding-bottom: 115px;
}
.role-person-detail{
    padding-top: 115px;
}
.role-person-detail h2{
    padding-bottom: 20px;
    border-bottom: 1px dashed #cccccc;
}
.role-person-detail p{
    font-size: 20px;
}
