.view-item-title{
  font-size: 1.9em;
  line-height: 2rem;
  font-family: 'TruenoRg', sans-serif;
  text-transform: capitalize;
  color: #333333;
  width: 90%;

}

.mini-btn{
  border-radius: 3px;
}

.features-icons{
  width: 90%;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.mr-3{
  border-radius: 50%;
  width: 50px;
  margin-right: 26px !important;
}

.section-row{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.feature-list-2{
  margin-top:12px;
  list-style: none !important;
  padding: 0px;
}

.feature-list-2 li{
  background-color: #ebebeb;
  border-radius: 20px;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px!important;
  padding: 0 12px 0 12px;
  margin-right: 20px;
  margin-bottom: 10px!important;
  text-align: left;
  width: auto;
  float: left;
}

.feature-list li{
  font-family: Lato !important;
}

.features-icon{
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 22px;
  padding-bottom: 23px;
}

.table-custom{
  border: 1px solid #f0f0f0;
}

.table-custom td{
  padding-right: 50px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: top;
  border: none !important;

}

small{
  font-size: 11px !important;
}

.referral-btn-section{
  border: 1px solid #f6f6f6;
  width: 100%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px 4px 0px 0px;
  -webkit-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  -moz-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
}

.referral-btn-section form{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.location, .sqft{
  font-weight: 600;
  font-size: 16px;
  color: #525252;
  font-family: 'TruenoRg';
}

#map{
  position: absolute;
  bottom: 0;
  right: 30px;
}

.user-section{
  border: 1px solid #f6f6f6;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  -webkit-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  -moz-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  border-radius: 4px;
}

.div-info{
  background: #eaf5ff;
  border: 1px solid #f6f6f6;
  -webkit-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  -moz-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  padding: 14px;
  font-size: 12px;
  display:table;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tbl-cell{
  display: table-row;
}

.tbl-cell div{
  display:table-cell;
}

.icon-info{
  display: block;
  padding-right: 12px;
  font-size: 15px;
  padding-top: 5px;
}

.icon-info-text{
  display: inline-block;

}

.conceal{
  font-size: 10px;
}

.btn-sign{
  padding: 10px;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 54px !important;
  text-align: center;

}

.comment-section{
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.comment-section h5{
  font-size: 1.3em;
}

.user_rating span {
  font-size: 17px;
}

.features-list-2{
  width: 90% !important;
}

.features-list-2 li {
  color: #333;
}

.section-header-title{
  font-family: "TruenoRg";
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

.referral-fee-percentage{
  font-size: 3.5em;
  font-weight: 600;
}

.description{
  width:90%;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 70px;
}

.mini-btn{
  border: 1px solid #ebebeb;
}

.lead-type-head{
  padding: 5px 10px;
  border: 1px solid #ebebeb;
  background: #000;
  color: #fafafa;
  font-size: 9px;
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-content{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.specs-section{
  width: 90%;
  margin-top: 40px;

}


.specs-section div:first-child{
  border-right: 1px solid #ebebeb;
}

.specs-section table{
  width:100%;
}

.specs-section table td{
  line-height: 2.8rem;
}

.image-lead-type{
  width: 100px;
}

#referral_fee{
  font-size: 1.5em;
}

#text-percent{
  font-family: 'TruenoRg', sans-serif;
  margin-bottom: 20px !important;
}

.social{
  width: 90% !important;
  padding-bottom: 50px;
}

.btn-action-floating{
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  margin-top: -40px;
  margin-bottom: 30px;
}

.list-featured{
  width: 90%; margin-left: 0px; border-top: 1px solid #ebebeb; padding-top:30px;
}

.btn-action-floating-resp, .user-section-sm{
  display: none;
}

.btn-action-floating{
  display: block;
}


/***homepage here***/

.recent-single{
  display: inline-block;
  width: 50%;
  border: 1px solid #f0f0f0;
  font-size: 1.3rem;
  margin-top: 10px;
}

.upperbox{
  height: 130px;
  padding: 14px;
}

.lowerbox{
  width: 100%;
  background: #F7F7F7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.recent-single .view-item-title{
  font-size: 1.2em;
  font-family: "TruenoRg";
  line-height: normal;
  font-weight: 600;

}

.single-title-title{
  font-size: 13px;
  font-family: "TruenoRg";
  line-height: normal;
  font-weight: 600;
  margin-bottom: 20px !important;
  padding-left: 10px;
  color: #3373d3;

}

.recent-favorite{

}

.referral_fee{
  font-size: 1.3em;
  font-weight: bold;
}

.load-more-hp{
  color: blue !important;
  padding: 20px;
}

.contents-right{
  padding-left: 34px;
}

.address-section{
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.recent-items{
  font-size: 15px;
}

.ref-type-image-holder img{
  margin-right: 25px !important;
}

.category-like {
  position: absolute;
  right: 0;
  background: none !important;
  font-size: 24px;
  color: #bfbfbf;
  float: left;
}

.recent-favorite-active{
  float: right;
  color: red;
}

.section-single{
  width: 65%;
  border-bottom: 1px solid #f0f0f0;
  padding: 16px;
}

.section-single:hover{
  cursor: pointer;
  border: 1px solid #f6f6f6;
  -webkit-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  -moz-box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
  box-shadow: 1px 8px 52px -14px rgba(207,207,207,0.57);
}

.load-more-hp{
  padding-right: 200px;
}

#jumper{
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 120px;
  text-align: center;
  background: #fff;
  z-index: 99;
  width: 100%;
  padding: 22px;
  margin-top: -18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.desc{
  text-transform: capitalize;
}

.single-section {
  margin-bottom: 10px;
}

#logo{
  width: 102px !important;
}

.img-lead-type{
  width: 100px;
}

.user-ads-section{
  width: 65%;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px;
}

.id-size{
  width: 100px;
}

.user-ads-section .section-single{
  cursor: pointer !important;
  width: 65% !important;
}

.showonmobile{
  display: none;
  float:left;
}

.hideonmobile{
  display: block;
}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.video{
    background: url("/assets/img/tymbl/explainer-bg.jpg") center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    padding: 15px 0;
}
.video img{
    width: 70px;
    height: auto;
    transition: .25s ease-in-out;
}
.video img:hover{
    width: 80px;
    height: auto;
    cursor: pointer;
}


.single-faq{
  text-align: left;
}
