#remove_user:hover{
  cursor: pointer;
}

.label-sm{
  color: #575962;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top:20px;
}

#jDataTable_length label select{
  height: 40px !important;
}

div.dataTables_wrapper {
  margin: 0 0;
  overflow-x: scroll;
}

#lead_importer{
  display:none;
}

#selector-wrapper-city, #selector-wrapper-state, #selector-wrapper-country{
  display: none;
}

.slider{
  margin: 20px;

}

.ui-autocomplete {
  z-index: 9999;
  max-height: 300px !important;
  overflow-y: auto !important;
  /* prevent horizontal scrollbar */
  overflow-x: hidden !important;
  -webkit-box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.66);
  box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.66);
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 300px;
  -webkit-box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.66);
  box-shadow: 0px 6px 15px -8px rgba(0,0,0,0.66);
}

#ul-zips, #ul-zip{
  max-height: 120px;
  overflow-y: auto;
  position: absolute;
  bottom: 88px;
  width: 93%;
  z-index: 99999;
  box-shadow: 0px -6px 15px 4px rgba(0,0,0,0.06);
  list-style: none !important;
  padding:0px;
  margin:0px;
}

#ul-zips .zip-item{
  background: #fff;
  border: 1px solid #f0f0f0;
  padding:12px;
  cursor: pointer;
}

#ul-zips .zip-item:hover{
  background:#408af8 !important;
  color:#fafafa !important;
  cursor: pointer !important;
}

.ui-widget-zip{
  position:relative;
  bottom:0;
}

.custom-pill{
  font-size: 11px;
  padding: 3px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  float:left;
  margin-right: 10px;
  margin-top: 10px;
  cursot:pointer;
}


.bootstrap-tagsinput{
  border: 0px !important;
  box-shadow: 0px 0px !important;
  background: transparent !important;
}

.add_btn, #btn-save-mail, #btn-save-phone{
  font-size:13px;
  font-weight: 500;
  float:left !important;
  margin-left:16px;
  width:200px;
  display: block;
}

.drc{
  padding-top: 6px;
  padding-bottom:6px;
}

.dbc-reserved{
  font-weight: 500;
  width: 170px;
  display:inline-block;
  text-transform: uppercase;
}

.successful-leads-data td{
  vertical-align: top !important;
}

.successful-leads-data td img{
  margin-top: 30px;
  margin-left: 10px;
  width: 140px;
}

.jd-success-data{
  margin: 20px 0px;
  text-align: left;
}

.paginate_button{
  margin-right: 8px !important;
}

/*#relist-ad{*/
/*  padding: 5px 15px;*/
/*  border: 0px;*/
/*  float: left;*/
/*  margin-top: 30px;*/
/*  margin-bottom: 20px;*/
/*  cursor: pointer;*/
/*}*/

#jDataTable_wrapper .row:nth-child(1){
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
}

#jDataTable_wrapper .row:nth-child(2){
  border-bottom: 1px solid #f0f0f0;
  margin-top: 10px;
  margin-bottom: 20px;
}

#btn-save-mail, #btn-save-phone{
  display:none;
  font-size:13px;
  margin-top:10px !important;
  margin-left:10px;
  color: blue;
}

.lead-buy-sell-stat td{
  padding-left: 20px;
  padding-top:30px;
  padding-bottom: 20px;
  min-height: 500px !important;
}

.prospect-info{
  border: 1px solid #f0f0f0;
  margin-right: 120px;
  padding: 20px;
  background: #fafafa;
  width: 90%;
}

.prospect-info strong{
  display: inline-block;
  width: 80px;
}

.status-updates{
  display:inline-block;
  width: 100%;
  margin-top: 20px;
}

.user-search-dash .input-group{
  padding-top:10px !important;
}

.label-info {
  background-color: #fafafa;
  font-size: 86% !important;
  color: #333 !important;
  border: 1px solid #f0f0f0 !important;
  font-weight: normal;
  padding:5px;
}

.editable{
  max-width: 200px;
  cursor: default !important;
  border: 0px !important;
  background: transparent !important;
}

.b-left{
  float: left !important;
}

.b-right{
  float: left !important;
  margin-left: 14px;
}

.creating-ads-img-wrap {
  border: 1px solid #dddddd;
  float: left;
  width: 150px;
  height: 100%;
  padding: 5px;
  margin: 5px;
  position: relative;
}


.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-action-wrap {
  right: 0;
  top: 0;
  position: absolute;
  padding: 3px;
  color: #fff;
  margin-top: -12px;
  margin-right: -12px;
}

.success-error{
  position: absolute;
  right: 0;
  color: red;
  padding: 5px;
  margin-right: 20px;
}

.active-status{
  color: #00e600;
}

.block-status{
  color: #000000;
}

.sold-status{
  color: #cc0000;
}

.sale-pending{
  color: #ebedf2;
}

.sale-approved{
  color: #5867dd;
}

.tbl-profile{
  width: 80%;
  margin: 30px;
  border: 0px !important;
}

.tbl-profile td{
  border: 0px !important;
}

.tbl-profile .col2{
  width: 700px;
  padding-left: 10%;
}
.col1{
  width: 200px;
  font-weight: 500;

}

.mls_section{
  display: none;
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #fafafa;
}

.mls_section option{
  width: 300px;
}

#change_mls{

}

.btn-create-page {
  display:block;
  padding: 8px;
  margin-top:auto;
  margin-bottom: auto;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}

table.table-bordered.dataTable {
  border-collapse: separate !important;
}

#jDataTable{
  min-width: 950px;
}

.user-ddp{
  width: 100px !important;
}

.stat-active{
  color: #64dd17 !important;
  font-size: 12px;
}

.stat-block{
  color: #d32f2f !important;
  font-size: 12px;
}

.stat-pending{
  color: #e0e0e0 !important;
  font-size: 12px;
}

.stat-wait{
  color: yellow !important;
  font-size: 12px;
}

.active-hover{
  background-color: #2f2e3c;
}

.required-field{
  color:#EF5350;
}

.form-add-user input{
  margin-top: 20px;
  margin-bottom: 20px;
}

.dsub{
  display: inline-block;
  width: 100%;
  text-align: center !important;
  margin-top: 30px !important;
}

.user-hidden{
  display:none;
}

#jDataTable_next{
  margin-left: 10px !important;
}

#jDataTable_info{


}

#jDataTable_paginate{
  display: inline-block;
  margin-top: 6px !important;
}

#btn-save, #btn-reset{
  margin-top:20px;
}

@media only screen and (max-width: 768px) and (min-width: 575px) {
  #tbl-admin-user{
    display:block;
    overflow-x: auto;
    width:100%;
  }
}

@media only screen and (max-width: 576px ) {
  #tbl-admin-user{
    display:block;
    overflow-x: auto;
    width:100%;
  }
}

.messages-unread{
  font-weight: bold;
}

#num_messages{
  display:none;
  font-weight: 500;
}

#messages-content{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#messages-content li{
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

#icon-actions a{
  margin-top:10px;
  text-align: left;
  float: right;
}

.f-holder{
  display: block;
  text-align: right;

}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dashboard-thumbs{
  width:120px !important;
}

.ad-desc p, .ad-desc h5{
  text-align: left !important;
  max-width: 500px;
}

.pagination{
  overflow-y:auto;
}

#jDataTable_previous{
  margin-right: 10px;
}

#selector-wrapper-users{
  display: none;
  top: 50%;
  left: 40%;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: absolute;
  transition: all 5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#selector-wrapper-users ul{
  padding: 0px !important;
  margin: 0px !important;
  list-style: none !important;
}

.input-sm{
  margin-left: 10px;
  margin-right: 10px;
}

.message-pane{
  width: 50%;
  display: inline;
}

.message-pane table{
  width: 400px !important;
}

.message-render{
  width: 50%;
  display: inline;
}

.message-body-wrapper{
  display:inline-block;
  width:100%;
}

.msg-body{
  padding: 20px;
}

.row .row-stat{
  background-color: #fff !important;
  width: 90% !important;
}

.ref-info{
  display: block !important;
  margin-top:20px;
  margin-bottom: 20px !important;
  padding: 20px;
  /*border-top: 1px solid #000;*/
}

.custom-pill{
  float:left !important;
  padding: 4px;
  border: 1px solid #f0f0f0;
  margin-right: 6px;
}

#jDataTable_length label select{
  height: 40px !important;
}
