@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  background:#f8fafb;
  margin: 0; }

:focus {
  outline: none; }

textarea {
  resize: none; }

input, textarea, select, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

textarea {
  resize: none; }

img {
  max-width: 100%; }
  .frow{
    margin-top:-20px;
  }

  .range-slider, .ui-widget-zip{
    display: none;
  }

  .range-slider small{
    display: inline-block;

    margin-bottom: 10px !important;
  }

.range-slider .range-val{
  display: block;
  margin-top: 20px !important;
  color: #408af8;
}

/*avatar*/

.avatar-upload{
  text-align: center !important;
}

    .avatar-preview {
        margin-top:10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 1px solid #f0f0f0;
        margin-left: auto;
        margin-right: auto;
    }

    .avatar-preview > div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .avatar-edit{
      margin-top: 30px;
    }

    .avatar-edit input{
      display:none;
    }

    .avatar-edit label{
       border: 1px solid #f0f0f0;
       padding: 6px;
       font-size: 12px;
       text-align: center;
    }


}
/*avatar*/
.wrapper {
  height: 100vh;
  /* background: #f9f6f1; */
  display: flex;
  align-items: center;
  justify-content: center; }

.wizard {
  /* width: 920px; */
  position: relative; }

.wizard > .steps {
  position: absolute;
  top: 12.44%;
  right: 26%;
  transform: translateX(50%);
  z-index: 9; }

.wizard > .steps .current-info, .wizard > .steps .number {
  display: none; }

.wizard > .steps ul {
  display: flex;
  justify-content: center; }

.wizard > .steps li a {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ebebeb;
  margin-right: 78px;
  position: relative; }
  .wizard > .steps li a:before {
    content: "";
    width: 58px;
    height: 2px;
    background: #ebebeb;
    position: absolute;
    right: 22px;
    top: 5px; }
  .wizard > .steps li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #408af8;
    position: absolute;
    left: -68px;
    top: 5px;
    transition: all 0.6s ease; }
.wizard > .steps li.first a {
  background: #408af8; }
.wizard > .steps li.checked a {
  background: #408af8; }
  .wizard > .steps li.checked a:after {
    width: 58px; }
.wizard > .steps li:last-child a {
  margin-right: 0; }
.wizard > .steps li:first-child a:before {
  display: none; }
.wizard > .steps li:first-child a:after {
  display: none; }

.wizard > .content {
  position: relative;
  height: 521px;
  background: #f8fafb;
 }

.inner {
  display: flex;
  background: #f8fafb;
  margin-bottom: 30px;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); */
}

ul#mls li{
  cursor: pointer;
}



.dropdown{
  cursor:pointer;
}

.image-holder {
  width: auto;
  height: 521px; }

.form-content {
  width: 60%;
  padding-top: 0px;
  padding-left: 51px;
  padding-right: 51px; }

.form-header {
  text-align: center; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 5px 15px;
  display: inline-block;
  /* border: 1px solid #dad8e4; */
  margin-bottom: 75px; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #acacac;
  text-align: center;
  margin-bottom: 26px; }
.form-row .select:last-child{
  margin-right: 0;
}

.form-row {
  display: flex;
  margin-bottom: 18px; }
  .form-row .form-holder {
    width: 50%;
    margin-right: 30px; }
    .form-row .form-holder:last-child {
      margin-right: 0; }
    .form-row .form-holder.w-100 {
      width: 100%;
      margin-right: 0; }
  .form-row .select {
    width: 50%;
    margin-right: 30px; }
    .form-row .select .form-holder {
      width: 100%;
      margin-right: 0; }

.select {
  position: relative; }
  .select .select-control {
    height: 37px;
  border: none;
  border-bottom: none;
  width: 100%;
  color: #666;
  background: #ebebeb;
  padding: 20px;
  border-radius: 2px;
    color: #999;
    display: flex;
    align-items: center;
    cursor: pointer; }
  .select .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: #fff;
    z-index: 9;
    border: 1px solid #81acee; }
    .select .dropdown li {
      padding: 5px 10px; }
      .select .dropdown li:hover {
        background: #81acee;
        color: #fff; }

.form-holder {
  position: relative; }
  .form-holder i {
    position: absolute;
    bottom: 8px;
    right: 17px;
    font-size: 22px; }

    .form-control {
  height: 37px;
  border: none;
  border: 1px solid #ebebeb;
  width: 100%;
  color: #333;
  background: #ebebeb;
  padding: 20px;
  border-radius: 2px;
}
  .form-control:focus {
    border: 1px solid #408af8; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control::-moz-placeholder {
    color: #999; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control:-moz-placeholder {
    color: #999; }

select.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #999; }
  select.form-control option[value=""][disabled] {
    display: none; }

textarea.form-control {
  padding: 8px 0;
  background: url("../images/textarea-bg.png") no-repeat right bottom 3px; }

.actions {
  position: absolute;
  bottom: 55px;
  right: 51px; }
  .actions ul {
    display: flex; }
  .actions li a {
    padding: 0;
    border: none;
    display: inline-flex;
    height: 41px;
    width: 135px;
    align-items: center;
    background: #ebebeb;
    font-family: 'Montserrat', sans-serif;;
    color: #666;
    cursor: pointer;
    position: relative;
    padding-left: 28px; }
    .actions li a:before {
      content: '>';
      position: absolute;
      top: 14px;
      right: 18px;
      font-weight: 700;
      font-family: Material-Design-Iconic-Font; }
    .actions li a:hover {
      background: #cfc7b8; }
  .actions li:first-child a {
    width: 144px;
    padding-left: 48px; }
    .actions li:first-child a:before {
      content: '<';
      position: absolute;
      top: 14px;
      left: 26px;
      font-weight: 700;
      font-family: Material-Design-Iconic-Font; }
  .actions li:nth-child(2) a, .actions li:last-child a {
    margin-left: 20px; }
  .actions li:last-child a {
    width: 124px;
    background: #6d7f52;
    color: #fff; }
    .actions li:last-child a:hover {
      background: #849963; }
    .actions li:last-child a:before {
      content: '>';
      position: absolute;
      top: 13px;
      right: 18px;
      font-weight: 700;
      font-family: Material-Design-Iconic-Font; }
  .actions li[aria-disabled="true"] a {
    opacity: 0;
    transition: all 1s; }
  .actions li[aria-disabled="false"] ~ li a {
    background: #408af8;
    color: #fff; }
    .actions li[aria-disabled="false"] ~ li a:hover {
      background: #3677d7; }

.checkbox-tick label {
  cursor: pointer;
  display: inline-block;
  padding-left: 23px;
  position: relative; }
  .checkbox-tick label.male {
    margin-right: 26px; }
.checkbox-tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }
.checkbox-tick input:checked ~ .checkmark {
  background: #999; }
  .checkbox-tick input:checked ~ .checkmark:after {
    display: block; }
.checkbox-tick .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  border: 1px solid #999;
  border-radius: 50%;
  font-family: Material-Design-Iconic-Font;
  color: #fff;
  font-size: 11px; }
  .checkbox-tick .checkmark:after {
    top: 0;
    left: 2px;
    position: absolute;
    display: none;
    content: '\f26b'; }

.checkbox-circle {
  position: relative;
  padding-left: 23px;
  margin-top: 41px;
  width: 63%; }
  .checkbox-circle.mt-24 {
    margin-top: 24px; }
  .checkbox-circle label {
    cursor: pointer;
    color: #999;
    font-size: 13px;
    line-height: 1.9;
    transform: translateY(-5px); }
    .checkbox-circle label a {
      color: #6d7f52; }
      .checkbox-circle label a:hover {
        color: #89b843; }
  .checkbox-circle input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .checkbox-circle input:checked ~ .checkmark:after {
    display: block; }
  .checkbox-circle .checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid #999; }
    .checkbox-circle .checkmark:after {
      content: "";
      top: 2px;
      left: 2px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #999;
      position: absolute;
      display: none; }

@media (max-width: 991px) {
  .wizard {
    max-width: 768px; }

  .image-holder img {
    height: 521px;
    object-fit: cover; } }
@media (max-width: 767px) {

  .actions{
    position: absolute !important;
bottom: 0;

     width: 200px;
  }

  .or-ds{
    display:none;
  }


  .or-mobile{
    display:block;
    position:relative;
  }

  .inner {
    display: block;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none; }

  .image-holder {
    width: 100%; }
    .image-holder img {
      width: 100%; }

  .form-content {

    width: 100%;
    padding: 50px 20px 30px; }

  .form-row {
    display: block; }
    .form-row .form-holder, .form-row .select {
      width: 100%;
      margin-right: 0;
      margin-bottom: 18px; }

  .wrapper {
    height: 1201px;
    background: none;
    margin-bottom: 50px;
  }

  .checkbox-circle {
    width: 100%; }

  .wizard {
    height: 100%; }
    .wizard > .steps {
      right: 50%;
      top: 52%;
      transform: translateX(50%); }
      #other_mls{
        display:none;
        margin-top: 10px;
      }
  .actions {
    right: 50%;
    transform: translateX(50%);
     } }


  .btn-social{
    width: 300px;
    text-align: center;
    position: absolute;
    right: 0;
    margin-right: 34%;
    margin-left: 50px;
    font-size: 15px;
    color: #acacac;

  }

  .btn-social a{
    font-size: 18px;
    color: #acacac;
    margin-right: 18px;


  }

  .btn-social a:hover{
    color: #007bff;
  }

  .social{
    margin-bottom: 10px !important;
  }



  @media only screen and (max-width: 768px) and (min-width: 575px) {
    .btn-social{
      width: 100%;
      margin-top: 2px;
      padding-left: 40px;
    }

    #other_mls{
      display:none;
      margin-top: 2px !important;
    }

    .actions{
      position: absolute !important;
       width: 200px;
bottom: 0;
    }

    .or-ds{
      display:none;
    }


    .or-mobile{
      display:block;
      position:relative;
    }


  }

  @media only screen and (max-width: 576px ) {
    .btn-social{

      width: 100%;
      margin-top: 44px;
      margin-bottom: 44px;
      padding-left: 40px;
    }

    #other_mls{
      display:none;
      margin-top: 2px !important;
    }

    .or-ds{
      display:none;
    }


    .or-mobile{
      display:block;
      position:relative;
    }

    .actions{
      position: absolute;
      bottom: 0;

    }
  }
/*# sourceMappingURL=style.css.map */

.small-error{
  font-size: 12px !important;
  color:red !important;
}

#other_mls{
  display:none;
  margin-top: 20px;
}

.slider {
-webkit-appearance: none;
width: 80% !important;
height: 3px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 16px;
height: 16px;
border-radius: 50%;
background: #007bff;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #4CAF50;
cursor: pointer;
}

.or{
  position: relative;
  left:-70px;
}

.zip-input input{
  width: 100%;
  height: 30px !important;
  padding: 20px;
  background: #ebebeb;
  border: 1px solid #fff;
  border-radius: 2px;
}

#ul-zips, #ul-zip{
  max-height: 100px;
  overflow: auto;
  position: absolute;
  bottom: 40px;
  width: 100%;
  z-index: 99999;
  box-shadow: 0px -4px 13px 2px rgba(0,0,0,0.06);
}

.custom-pill{
  font-size: 11px;
  padding: 3px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  float:left;
  margin-right: 10px;
  margin-top: 10px;
}

.zip-item, .zip_item{
  width:100%;
  background: #fff;
  border: 1px solid #f0f0f0;
  padding:12px;
  cursor: pointer;
}

.zip-item:hover, .zip_item:hover{
  background:#408af8;
  color:#fafafa;
}

.ui-widget-zip{
  position:relative;
  bottom:0;
}

.actions{
  position: absolute;
  bottom: -70px;
  margin-top: 20px !important;
  margin-bottom: 20px;
}

#remove{
  color: red;
  cursor: pointer;
}

.or-ds{
  position: absolute;
  right: 0;
  margin-top: 20px;
  font-size: 13px;
}


.or-mobile{
  display:none;
}

#show-pass{
  position:absolute;
  margin-top: -5px;
  margin-right: -6px;
  right:0;
}

.wrapper-impt{
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.ui-autocomplete {
  max-height: 260px !important;
  overflow-y:auto !important;
  overflow-x: hidden !important;
}
