@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

body{
	font-family: 'Montserrat', sans-serif;
	  font-size: 15px;
	  font-weight: 300;
  	color: #333;
}
h1{
	font-size: 40px;
	font-weight: 700;
}
h5{
	font-weight: 300;
	font-size: 18px;
}
p{
	color: #999;
}
.content{
	background-image: url("/assets/img/b/bg.jpg");
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	padding-top: 5%;
	padding-bottom: 5%;
}
.signup-img-content{
	color: #fff;
	padding-top: 20%;
	padding-bottom: 20%;
}
input, select{
	height: 45px;
	width: 100%;
	margin-bottom: 18px!important;
	border: 1.5px solid #ebebeb;
}
.form-control{
	height: 45px;
	border-radius: 2px!important;
	color: #999!important;
	font-size: 15px!important;
	border: 1.5px solid #dadada!important;
}

.btn-primary {
	font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #408af8;
    border-color: #408af8;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
	letter-spacing: 2px;
	height: 45px;
	min-width: 200px;
}
select.form-control:not([size]):not([multiple]) {
    height: 45px;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#333;
    opacity: .5; /* Firefox */
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#333;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color:#333;
}
/* .custom-select{
	position: relative;
	font-family: "Montserrat";
} */
select{
	background: red;
}
@media (max-width: 575.98px){
	.signup-img-content{
		display: none;
	}
	.content{
		background: none;
	}
}

.btn-social{
  width: 300px;
  text-align: center;
  position: absolute;
  right: 0;
  margin-right: 40%;
  margin-left: 50px;
  margin-top: -76px;
  font-size: 15px;
  color: #acacac;
}

.btn-social a{
  font-size: 22px;
  color: #acacac;
  margin-right: 18px;

}

.btn-social a:hover{
  color: #007bff;
}

.social{
  margin-top: 12px !important;
  margin-bottom: 12px !important;
  font-size: 20px;
}


@media only screen and (max-width: 768px) and (min-width: 575px) {
  .btn-social{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 80px;
  }
}

@media only screen and (max-width: 576px ) {
  .btn-social{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 80px;
  }
}
