/* for mobile devices */
@media all and (max-width: 640px){
  .coming-soon h1{
    font-size: 18px;
  }
  .tagline h1{
    font-size: 50px;
  }
  .tagline h2{
    font-size: 40px;
  }
  .header-content {
    padding: 20px 16px 10px 16px;
  }
  .tagline{
    padding-bottom: 30px;
  }
  h1{
    font-size: 38px;
  }

  .coming-soon h1{
    font-size: 30px;
  }
  .feature-item{
    padding-bottom: 50px;
  }
  .logo img{
    width: 45%;
    height: auto;
  }
  .register-form{
    margin: 0;
  }
  .header{
    background-position: right bottom;
  }
  .row .arrow::after{
    display: none;
  }
  .steps {
    padding-top: 20px;
  }
  header{
    background-attachment: scroll;
  }


}

/* for ipad */
@media all and (max-width: 768px){
  .coming-soon h1{
    font-size: 18px;
  }
  .tagline h1{
    font-size: 35px;
  }
  .tagline h2{
    font-size: 25px;
  }

  .tagline{
    padding-bottom: 30px;
  }
  .about {
    padding: 60px 0;
  }
  h1{
    font-size: 38px;
  }
  .form-control-range {
    margin-top: 15px!important;
  }
  header{
    min-height: 250px;
  }
  .page-header h2{
    font-size: 32px;
  }
}

@media
only screen and ( -webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {

  /* Retina replacement here */
  #logo{
    width:40% !important;

  }
  .navbar-toggler{position: absolute; right: 10px}
}
