/* importing google font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800');

/* General CSS */
.clearme{
    clear: both;
    display: block;
}
body{
    margin: 0 auto;
    padding: 0;
    color: #2c2f33;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 2;
}
header{
    background-image: url('/assets/img/landing/hero-bg.jpg');
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 45px;
    padding-bottom: 45px;
    min-height: 500px;
}
h1{
    font-size: 70px;
    font-weight: 300;
}
h2{
    font-size: 50;
    font-weight: 600;
}
a{
    color: #2c2f33;
    transition: .5s ease-in-out;
}
a:hover{
    color: #408af8;
    text-decoration: none;
}
.header-content{
    padding: 25px 16px 60px 16px;
    text-align: center;
}
.coming-soon{
    padding-top: 45px;
}
.coming-soon h1{
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    color: #3ECF8E;
    text-transform: uppercase;
}
.tagline h1{
    font-size: 55px;
    color: #2c2f33;
    text-transform: uppercase;
    font-weight: 800;
}
.tagline h2{
    font-size: 50px;
    color: #408af8;
    text-transform: uppercase;
    font-weight: 400;
}
.register-form{
    background-color: rgba(0, 0, 0 , 0.5);
    padding: 32px;
    border-radius: 10px;
    color: #fff;
    margin: 40px 0;
}
.register-form h3{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
}
.register-form h4{
    color: #fff;
    font-weight: 300;
}
.form-area{
    padding: 15px 0 0 0;
}
.form-control-range{
    -webkit-appearance: none;
    background: #fff;
    height: 2px;
    margin: 16px 0;
}
.form-control-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #959595;
}
.form-control-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #959595;
}

.features{
    text-align: center;
    padding: 50px 0;
    background: #f3f3f3;
}
.features img{
    padding-bottom: 30px;
}
.blue-title{
    color: #408af8;
    text-align: center;
    padding: 5px 0 15px 0;
}
.about{
    padding: 150px 0;
}
.btn-primary {
    color: #fff;
    background-color: #408af8;
    border-color: #408af8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
    padding: 8px 0;
    border-radius: 10px;
}
.empty-bg{
    background-image: url('/assets/img/landing/cityscape.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 25% 0;
}
.seller, .buyer{
    padding: 90px 0;
}
.buyer{
    background: #f3f3f3;
}
.border-green{
    border-bottom: 2px solid green;
    border-width: 30%;
}
.steps{
    padding-top: 60px;
}
.steps h4{
    margin-bottom: 2.5rem;
    font-size: 20px;
}
.steps img{
    padding: 31px 0;
}
.steps h4{
    text-align: center;
    line-height: 1.5;
}
.contact{
    background-image: url('/assets/img/landing/contact-bg.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 0;
}
.contact h1{
    margin-bottom: 45px;
    color: #fff;
    text-transform: uppercase;
}
.btn-success {
    color: #fff;
    background-color: #3ecf8e;
    border-color: #3ecf8e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
footer{
    padding: 50px 0;
}
select{
    width: 100px;
    text-overflow: ellipsis;
}
.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.footer-logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.footer-logo, .footer-link, .social-icons{
    padding-bottom: 30px;
}
.social-icons i{
    margin-right: 10px;
    font-size: 20px;
}
.copyright{
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 30px;
}
.row .arrow::after{
    display: block;
    content: "";
    background: url('/assets/img/landing/arrow.png') no-repeat 50% 50%;
    height: 22px;
    width: 13px;
    position: absolute;
    margin-right: -7px;
    right: 0;
    top: 25%;
}
.page-header{
    padding-top: 10%;
    /* padding-bottom: 2%; */
}
.page-header h2{
    font-size: 64px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    background-color: #00000070;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.single-faq{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.single-faq h4{
    line-height: 1.5;
}
