.required:after{
  color: red;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-size: 7px;
  content: "\f069";
  position: absolute;
  margin-left: 5px;
}

.reg{
  color:blue;
}

.verify-text{
  font-size:18px;
  padding-left: 50px;
  padding-right: 50px;
}

.fa-star{
  font-size:30px;
}

.rating li {
  float: right !important;
  color: #c2c2c2;
  padding: 10px 5px;
}

.rating li:hover,
.rating li:hover ~ li {
  color: #ffd700;
  cursor:pointer;
}

.user_rating{
  display: inline-block !important;
  color: #c2c2c2;
}

.user_name{
  font-weight:500;
}

.star {
  font-size: 0.9em;
  display: inline-block;
  font-family: FontAwesome;
  color: #dedede;
  position:relative;
  content:: '\f089';
}

.star:last-child {
  margin-right: 0;
}

.star:before {
  content:'\f005';
}

.star.full {
  color: #ffd700;
}

.star.half:after {
  content:'\f089';
  color: #ffd700;
  position: absolute;
  left:0;
  right:50%;
  top:0;
  bottom:0;
  overflow: hidden;
}

li .check ~ li {
  color: #ffd700;
  cursor:pointer;
}

.rating {
  display: inline-block;
  list-style: none;
  margin-left: -40px;
}

.rating .check{
  display: inline-block;
  list-style: none;
  color: #ffd700;
}

.rate-listing{
  color:#000 !important;
  margin-top:10px;
}

.rating_popup{
  width:400px;
  min-height:200px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  display:none;
}

#rating_popup {
  transform: scale(0.8);
}

.popup_visible #rating_popup {
  transform: scale(1);
}

.popup-txt{
  font-size:22px;
  margin-top:46px;
  margin-bottom:20px;
  font-weight:bold;
}

#rating-refferal i{
  font-size:30px;
}

.popup_close{
  boder:1px;
  padding:6px;
  text-align: center:center;
  display: block;
  font-size:20px;
  position:absolute;
  right:0px;
  top:0px;
}

.input-group-text{
  max-width: 420px;
  display: block;
  font-size: 18px;
  padding-left:30px;
  padding-bottom: 5px;
  text-align: left !important;
}

.input-group-text div{
  display:inline-block;
  max-width: 340px;
  vertical-align: top;
  margin-left: 6px;
}

#option{
  display: none;
  margin-bottom: 20px;
}

#option h4{
  font-size:14px !important;
}

.popup-option{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px !important;
  padding-bottom: 10px !important;
}

#thank-you-feedback{
  display: none;
}

#reason-details{
  display: none;
  margin-left:30px;
}

.center-btn{
  display: flex;
  justify-content: center;
}


#remind_me_popup{
  width:340px;
  min-height:200px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  padding-bottom: 20px;
}

.wrapper_close_button{
  width:100%;
  display: inline-block;
  height: 20px;
}

/* start notifiy me pop */
.select2-container{
  z-index: 1000010 !important;
  overflow: visible !important;
}

.select2-selection-single{
  border: 1px solid #ccc !important;
}

.notify_cbx{
  padding-left:20px;
  padding-right:20px;
}

.notify_cbx h4{
  margin-left:16px;
}

.notify_cbx ul{
  list-style: none;
  padding: 0px;
  margin-top: 10px;
  margin-left:16px;
}

.notify_cbx ul li{
  float:left;
  margin-right: 20px;
}


.notify_cbx label{
  text-align: left;
}

.left-loader1{
  position:absolute !important;
  margin-left:80px;
  margin-top:5px;
}

.left-loader2{
  position:absolute !important;
  margin-left:80px;
  margin-top:4px;
}

#popup-dropdown{
  display: inline-block;
  margin-top:5px !important;
  margin-bottom:5px !important;
  width:100%;

}

.popup-text-email{
  min-width:246px;
}

.popup-text-phone{
  min-width:246px;
}

.remind-me-txt{
  display: inline-block;
  width:100%;
}

.popup-input{
  margin-top:20px;
  margin-left: 16px;
  float: left;
}

.popup-input div{
  float:left !important;
  margin-right: 10px;
}

.popup-submit{
  border-radius: .25rem;
  color:#fff;
}

#popup-error{
  color: red;
  margin-bottom: 10px;
  display:none;
  text-align: center;
  width: 100%;
}

.bootstrap-tagsinput{
  border: 0px !important;
  box-shadow: 0px 0px !important;
  background: transparent !important;
}




.label-info {
    background-color: #fafafa;
    font-size: 86% !important;
    color:#333 !important;
    border:1px solid #f0f0f0 !important;
    font-weight:normal;
}

.bootstrap-tagsinput label{
}

.add_btn{
  font-size:13px;
  font-weight: bold;

  margin-left:10px;
  width:100px;
  display: block;

}

#selector-wrapper-city, #selector-wrapper-state, #selector-wrapper-country{
  display: none;
}

.fixed-left{
  width: 100px;
}

#country_tag .label-info span{
  display: none !important;
}

.editable{
  max-width: 200px;
  cursor: default !important;
  border: 0px !important;
  background: transparent !important;
}

.reminder{
  float:right;
  margin-right:20px;
  margin-top:-50px;
  color:red;
}

#btn-save-mail, #btn-save-phone{
  display:none;
  font-size:13px;
  font-weight: bold;
  margin-top:10px !important;
  margin-left:10px;
  color: blue;
}

.misc-text-popup{
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.popup-footer{
  font-size:11px;
}

.invalid-id{
  min-height:320px;
}

.thankyou-text{
  max-width: 600px !important;
  height: 500px !important;
  text-align: center;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

.referral-success-buttons{
  margin-top:50px !important;
}

.referral-success-buttons button{
  border: 1px solid #fafafa;
  border-radius: 5px;
  width: 120px;
  margin:10px;
}

#title-company-id{
  font-size: 26px;
  padding:6px !important;
  text-align: center;
  border:1px solid #ddd;
  border-radius: 5px;
}

#title-company-submit{
  height: 44px;
  width:100px;
  border:1px solid #ddd;
  border-radius: 5px;
  font-size: 20px
}

#left-th{
  font-weight: bold;
}

#btn-sold {
  margin:12px;
  padding:6px 12px;
  background-color:#337ab7 !important;
  border:1px solid #2e6da4;
  border-radius: 4px;
  color:#fff;
  font-weight: 500;
}

#btn-cancel {
  margin:12px;
  padding:6px 12px;
  background-color:#d9534f !important;
  border:1px solid #d43f3a;
  border-radius: 4px;
  color:#fff;
  font-weight: 500;
}

.contract_details{
  padding:5px;
}
