/*ANIMATIONS*/
	@keyframes slide_from_left {
		0% {transform: translateX(-100%);}
		80% {transform: translateX(1%);}
		90% {transform: translateX(-1%);}
		100% {transform: translateX(0);}
	}
	@keyframes slide_from_right {
		0% {transform: translateX(100%);}
		80% {transform: translateX(-1%);}
		90% {transform: translateX(1%);}
		100% {transform: translateX(0);}
	}

	#tymbl_home_head h1 {
		animation: 2s ease-out 0s 1 slide_from_left;
	}
	#tymbl_home_head_products {
		animation: 2s ease-out 0s 1 slide_from_right;
	}
