/*_FONTS*/
html {
  color: #494959;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
}

.modal{
  max-width: 700px !important;
}

.jquery-modal{
  z-index: 99999999;
}

.text-center{
  text-align: center;
}

#smvid{
  width: 500px;
}


.box ul li{
  font-size: 18px;
  line-height: 1.2em;
}

.price_plan{
  text-align: center;
}

.price_plan .price{
  font-size: 50px;
  color: #4285F4;
  font-weight: bold;
}

.cols-4{
  width: 44%;
  float: left;;
  background: #fff;
  display: inline-block;
  padding: 20px 10px;
  margin: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 18px -8px rgba(184,184,184,1);
  -moz-box-shadow: 0px 4px 18px -8px rgba(184,184,184,1);
  box-shadow: 0px 4px 18px -8px rgba(184,184,184,1);
}

#temp-name, #temp-company, #temp-email{
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  width:96%;
  display: inline-block;
  border: 1px solid #f0f0f0;
}

#btn-submit{
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#lqvid{
  padding: 0px !important;
  border-radius: 0px !important;
}

a.url_home{
  color: #24497F;
  text-decoration: none;
}
p, li {
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  margin: 8px 0px;
}
h1, h2, .tymbl_home_meta_h2,
h4, h5, h6,
#tymbl_header_logo p, #tymbl_footer_post_logo p,
.tymbl_header_products_drop_block_title,
.tymbl_header_mobile_products_drop_block_title {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  /* or 120% */
  color: #24497F;
}
h2, .tymbl_home_meta_h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  /* or 133% */
  color: #30303F;
  margin: 11px 0 0 0;
}
h3 {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.03em;
  color: #9BA2B0;
  margin: 0;
}
h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
/*_BASE*/
body {
  width: 100%;
}
.column {
  width: 1152px;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tymbl_anchor {
  position: absolute;
  left: 0;
  top: -56px;
}
/*_BUTTONS*/
.tymbl_btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 0 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tymbl_btn_32 {
  height: 32px;
  line-height: 27px;
}
.tymbl_btn_40 {
  height: 40px;
  line-height: 34px;
  font-weight: bold;
  font-size: 18px;
}
.tymbl_btn_56 {
  height: 56px;
  line-height: 50px;
  font-weight: 600;
  font-size: 24px;
}
.tymbl_btn_stroke {
  color: #4285F4 !important;
  border: 1px solid #A0C2F9;
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.15s ease-out;
  -o-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}
#tymbl_footer .tymbl_btn_stroke {
  color: #D3DBE5 !important;
  border: 1px solid #506D99;
  background-color: #24497F;
}
.tymbl_btn_stroke:hover {
  background-color: #F5F9FE;
}
#tymbl_footer .tymbl_btn_stroke:hover {
  background-color: #2F5286;
}
.tymbl_btn_fill {
  color: #FFFFFF !important;
  background-color: #4285F4;
  border: 1px solid #4285F4;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.tymbl_btn_fill:hover {
  border-color: #5491F5;
  background-color: #5491F5;
}
.tymbl_btn_round {
  border-radius: 128px;
}
.tymbl_btn_rectangle {
  border-radius: 8px;
}

/*HEADER*/
#tymbl_header_hamburger,
#tymbl_header_mobile,
#tymbl_header_mobile_bg {
  display: none;
}
#tymbl_header {
  z-index: 20;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
#tymbl_header .column {
  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 32px;

  height: 80px;
  border-radius: 0px 0px 4px 4px;

  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
  box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
}
#tymbl_header_left, #tymbl_header_right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.tymbl_header_link, #tymbl_header_btn a {
  font-weight: bold;
  font-size: 18px;
}
.tymbl_header_link {
  text-decoration: none;
  color: #30303F;
  -webkit-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  padding: 30px 0 30px 0;
}
.tymbl_header_link:hover {
  color: #4285F4;
}
#tymbl_header_products a:after {
  content: url('/assets/img/tymbl_v3/arrow_products_down.svg');
  display: inline-block;
  margin-left: 8px;
  position: relative;
  top: -2px;
  -webkit-transition: -webkit-filter 0.15s ease-out;
  transition: -webkit-filter 0.15s ease-out;
  -o-transition: filter 0.15s ease-out;
  transition: filter 0.15s ease-out;
  transition: filter 0.15s ease-out, -webkit-filter 0.15s ease-out;
}
#tymbl_header_products a:hover:after {
  -webkit-filter: brightness(0) saturate(100%) invert(43%) sepia(74%) saturate(2188%) hue-rotate(202deg) brightness(100%) contrast(92%);
  filter: brightness(0) saturate(100%) invert(43%) sepia(74%) saturate(2188%) hue-rotate(202deg) brightness(100%) contrast(92%);
}
#tymbl_header ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0;
  padding: 0;
}
#tymbl_header li {
  list-style: none;
  padding: 0 0 0 32px;
}
#tymbl_header_btn li {
  padding: 0 0 0 16px;
  margin-top: 4px;
}
#tymbl_header_btn {
  margin-left: 16px !important;
}
#tymbl_header_products li, #tymbl_header_nav li {
  margin-top: 3px;
}
#tymbl_header_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#tymbl_header_logo img {
  height: 42px;
  width: auto;
}
#tymbl_header_logo p {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #24497F;
  margin-left: 16px;
  margin-top: 5px;
}
#tymbl_header_products_drop {
  display: none;

  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
  box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
  border-radius: 0px 0px 4px 4px;

  position: absolute;
  top: 80px;
  left: 176px;
}
.tymbl_header_products_drop_animate {
  -webkit-animation: 0.15s ease-out 0s 1 slide_from_top;
  animation: 0.15s ease-out 0s 1 slide_from_top;
  overflow: hidden;
}
@-webkit-keyframes slide_from_top {
  0% {
    height: 0;
    -webkit-box-shadow: 0px 0px 64px rgba(36, 73, 127, 0);
    box-shadow: 0px 0px 64px rgba(36, 73, 127, 0);
  }
  100% {
    height: 100%;
    -webkit-box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
    box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
  }
}
@keyframes slide_from_top {
  0% {
    height: 0;
    -webkit-box-shadow: 0px 0px 64px rgba(36, 73, 127, 0);
    box-shadow: 0px 0px 64px rgba(36, 73, 127, 0);
  }
  100% {
    height: 100%;
    -webkit-box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
    box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
  }
}
#tymbl_header_products_drop_list {
  width: 400px;
  height: 320px;
  padding: 31px 0 33px 0;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.tymbl_header_products_drop_block,
.tymbl_header_mobile_products_drop_block {
  display: block;
  text-decoration: none;

  position: relative;
  width: 256px;
  margin-left: 96px;
  margin-bottom: 26px;
}
.tymbl_header_products_drop_block img,
.tymbl_header_mobile_products_drop_block img {
  width: 48px;
  height: 48px;

  position: absolute;
  left: -64px;
  top: 2px;

}
.tymbl_header_products_drop_block_title,
.tymbl_header_mobile_products_drop_block_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;

  color: #30303F;
  -webkit-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}
#tymbl_header_products_drop_list a:hover .tymbl_header_products_drop_block_title {
  color: #4285F4;
}
.tymbl_header_products_drop_block_description,
.tymbl_header_mobile_products_drop_block_description {
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  color: #494959;
  margin-top: -2px;
}
/*HEAD*/
#tymbl_home_head {
  z-index: 10;
  margin-top: -80px;
  overflow: hidden;

  height: 680px;
  background-image: url('/assets/img/tymbl_v3/head_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
#tymbl_home_head .column {
  height: 680px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#tymbl_home_head_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-top: 144px;
}
#tymbl_home_head_bottom img {
  display: block;
  margin: 0 auto 14px;
}
#tymbl_home_head h1 {
  width: 448px;
  margin-right: 32px;
}
#tymbl_home_head h1 span {
  display: block;
  font-family: Source Sans Pro;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  /* or 133% */
  color: #8C96A1;
  margin-top:  8px;
}
#tymbl_home_head_products {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 640px;
  height: 368px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 32px rgba(36, 73, 127, 0.1);
  box-shadow: 0px 0px 32px rgba(36, 73, 127, 0.1);
  border-radius: 4px;
}
.tymbl_home_head_products_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  border-right:  1px solid #EEF3FD;
  width: 50%;
  padding: 32px;
}
.tymbl_home_head_products_block:last-child {
  border-right: none;
  border-bottom: none;
}
#tymbl_home_head_products_block_sd .tymbl_home_meta_h2 {
  width: 128px;
}
.tymbl_home_head_products_block_bottom {
  margin-bottom: 10px;
}
.tymbl_home_head_products_block a {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #4285F4;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.tymbl_home_head_products_block a:hover {
  /*color: #5491F5;*/
  border-bottom: 1px solid #A0C2F9;
}
.tymbl_home_head_products_block a img {
  margin-top: -1px;
}
/*PRODUCTS*/
#tymbl_home_products .column {
  padding-top: 88px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.tymbl_home_products_block {
  width: 544px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#tymbl_home_products_block_lqs {
  margin-right: 32px;
}
#tymbl_home_products_block_lqs .tymbl_home_meta_h2 {
  max-width: 352px;
  margin-bottom: -2px;
}
#tymbl_home_products_block_sd .tymbl_home_meta_h2 {
  max-width: 160px;
}
.tymbl_home_products_block_features h3 {
  margin: 32px 0 -1px 0;
}
.tymbl_home_products_block ul {
  list-style: none;
  margin: 28px 0 0 50px;
  padding: 0;
}
.tymbl_home_products_block li {
  position: relative;
}
.tymbl_home_products_block li img {
  position: absolute;
  left: -64px;
  top: -7px;
}
.tymbl_home_products_block .tymbl_btn {
  width: 288px;
  margin-top: 50px;
}
/*DESCRIPTIONS*/
#tymbl_home_descriptions {
  margin-top: 88px;
  padding-bottom: 240px;
  overflow: hidden;
}
.tymbl_home_descriptions_block {
  position: relative;
  margin: 0;
  padding: 56px 0 56px 0;
}
.tymbl_home_descriptions_block .column {
  z-index: 20;
  position: relative;

  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 784px 368px;
  grid-template-columns: 784px 368px;
}
.tymbl_home_descriptions_block_text {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
}
.tymbl_home_descriptions_block_icons {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.tymbl_home_descriptions_block_icons .is-visible {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.tymbl_home_descriptions_block_bg {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 784px 368px auto;
  grid-template-columns: auto 784px 368px auto;
}
.tymbl_home_descriptions_block_bg_color {
  width: 100%;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}
.tymbl_home_descriptions_block_bg_img {
  width: 100%;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;

  background-repeat: no-repeat;
  background-position: 100% top;
  background-size: cover;

  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.tymbl_home_descriptions_block_bg .is-visible {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
#tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_bg_img {
  background-position: 0% top;
}
#tymbl_home_descriptions_block_lqs .tymbl_home_descriptions_block_bg_color,
#tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_bg_color {
  background-color: #F5F6F7;
}
#tymbl_home_descriptions_block_sd .tymbl_home_descriptions_block_bg_color {
  background-color: #FFFFFF;
}
#tymbl_home_descriptions_block_lqs .tymbl_home_descriptions_block_bg_img {
  background-image: url('/assets/img/tymbl_v3/descriptions_lqs_bg_3x.jpg');
}
#tymbl_home_descriptions_block_sd .tymbl_home_descriptions_block_bg_img {
  background-image: url('/assets/img/tymbl_v3/descriptions_sd_bg_3x.jpg');
  margin: -8px 0 -8px 0;
}
#tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_bg_color {
  margin: 0 0 -240px 0;
}
#tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_bg_img {
  background-image: url('/assets/img/tymbl_v3/descriptions_rm_bg_3x.jpg');
  margin: 0 0 -240px 0;
}
#tymbl_home_descriptions_block_lqs {
  position: relative;
  z-index: 10;
}
#tymbl_home_descriptions_block_sd {
  position: relative;
  z-index: 20;
}
#tymbl_home_descriptions_block_rm {
  position: relative;
  z-index: 10;
}
.tymbl_home_descriptions_block_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 32px;
}
.tymbl_home_descriptions_block_title h2 {
  margin: 12px 0 0 22px;
  max-width: 650px;
}
.tymbl_home_descriptions_block_title img {
  height: 64px;
  width: auto;
}
.tymbl_home_descriptions_block h3:first-child {
  margin-top: 9px;
}
.tymbl_home_descriptions_block_text {
  max-width: 736px;
  margin: 24px 32px 0 0;
}
#tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_text {
  margin-top: 20px;
}
.tymbl_home_descriptions_block_text h3 {
  margin-top: 25px;
}
.tymbl_home_descriptions_block_icons {
  margin: -80px 0 0 0;
}
#tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_icons {
  margin-top: -84px;
}
.tymbl_home_descriptions_block_icons_block {
  width: 352px;
}
.tymbl_home_descriptions_block_icons_block img {
  display: block;
  margin: 25px auto 0;
}
.tymbl_home_descriptions_block_icons_block p {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  color: #FFFFFF;
  margin-top: 7px;
}
/*VIDEO*/
#tymbl_home_video {
  position: relative;
  z-index: 20;
  margin-top: -240px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(245,246,247,0)), color-stop(50%, rgba(245,246,247,0)), color-stop(50%, #24497F), to(#24497F));
  background: -o-linear-gradient(top, rgba(245,246,247,0) 0%, rgba(245,246,247,0) 50%, #24497F 50%, #24497F 100%);
  background: linear-gradient(180deg, rgba(245,246,247,0) 0%, rgba(245,246,247,0) 50%, #24497F 50%, #24497F 100%);
}
#tymbl_home_video a {
  position: relative;
  z-index: 20;
  display: block;
  overflow: hidden;

  text-decoration: none;
  background: #E6F0FB;
  border-radius: 16px;
  height: 480px;
}
#tymbl_home_video_btn {
  position: absolute;
  width: 186px;
  left: 50%;
  margin-left: -93px;
  top: 50%;
  margin-top: -96px;
}
#tymbl_home_video_btn img {
  display: block;
  margin: 0 auto;
}
#tymbl_home_video_btn p {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* or 129% */
  color: #4285F4;
}
#tymbl_home_video_clip {
  width: 100%;
  height: auto;
}
/*CTA*/
#tymbl_home_cta {
  background-color: #24497F;
}
#tymbl_home_cta .column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#tymbl_home_cta p {
  margin-top: -3px;
  margin-right: 32px;

  font-family: Poppins;
  font-weight: bold;
  font-size: 70px;
  line-height: 70px;
  color: #7C92B2;
}
#tymbl_home_cta a {
  margin-top: 40px;
  margin-bottom: 40px;
}
#tymbl_home_cta .tymbl_btn {
  width: 352px;
}
/*FOOTER-PRE*/
#tymbl_footer_pre {
  background-color: #24497F;
}
#tymbl_footer_pre .column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 43px;
  padding-bottom: 80px;
}
#tymbl_footer_pre_navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -35px;
}
.tymbl_footer_pre_navigation_block {
  width: 160px;
  margin: 0 32px 35px 0;
}
.tymbl_footer_pre_navigation_block h4 {
  color: #7C92B2;
  margin: 0 0 5px 0;
}
.tymbl_footer_pre_navigation_block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tymbl_footer_pre_navigation_block li {
  margin: 0;
  padding: 0;
}
.tymbl_footer_pre_navigation_block li a {
  text-decoration: none;
  color: #D3DBE5;
  font-size: 18px;
  line-height: 23px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.15s ease-out;
  -o-transition: border-bottom 0.15s ease-out;
  transition: border-bottom 0.15s ease-out;
}
.tymbl_footer_pre_navigation_block li a:hover {
  border-bottom: 1px solid #506D99;
}
#tymbl_footer_pre .tymbl_btn {
  width: 256px;
  margin: -3px 0 0 0;
}
/*FOOTER-POST*/
#tymbl_footer_post {
  background-color: #24497F;
  border-top: 1px solid #3A5C8C;
}
#tymbl_footer_post .column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 21px;
}
#tymbl_footer_post_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#tymbl_footer_post_logo p {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #D3DBE5;
  margin-left: 16px;
  margin-top: 6px;
}
#tymbl_footer_post_legal {
  color: #D3DBE5;
  font-size: 18px;
  line-height: 23px;
  margin-left: 48px;
  text-indent: -16px;
}
#tymbl_footer_post_legal span {
  color: #7C92B2;
}

/*DESKTOP MENU*/
@media only screen and (max-width: 1172px) {
  .column {
    width: 100%;
    padding: 0 32px;
  }
  /*HEADER*/
  #tymbl_header .column {
    border-radius: 0;
  }
  #tymbl_header_products_drop {
    left: 50%;
    margin-left: -400px;
  }
  /*DESCRIPTIONS*/
  .tymbl_home_descriptions_block_bg {
    -ms-grid-columns: auto 70% 30% auto;
    grid-template-columns: auto 70% 30% auto;
  }
  .tymbl_home_descriptions_block .column {
    -ms-grid-columns: 70% 30%;
    grid-template-columns: 70% 30%;
  }
  .tymbl_home_descriptions_block_icons_block {
    width: 100%;
    margin: 0 32px 0 16px;
  }
  /*VIDEO*/
  #tymbl_home_video a {
    height: auto;
  }
}
@media only screen and (max-width: 1062px) {
  /*CTA*/
  #tymbl_home_cta p {
    line-height: 80px;
    margin-top: 56px;
    margin-bottom: 0px;
    margin-right: 0px;
    text-align: center;
  }
  #tymbl_home_cta .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (max-width: 990px) {
  /*HEAD*/
  #tymbl_home_head, #tymbl_home_head .column {
    height: auto;
  }
  #tymbl_home_head_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 112px;
    margin-bottom: 95px;
  }
  #tymbl_home_head_top h1 {
    width: 100%;
  }
  #tymbl_home_head_top h1 span {
    margin-top: 6px;
  }
  #tymbl_home_head_products {
    width: 100%;
    margin-top: 16px;
  }
  /*DESCRIPTIONS*/
  .tymbl_home_descriptions_block_bg_img {
    background-position: 80% top;
  }
  #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_bg_img {
    background-position: 20% top;
  }
}
/*MOBILE MENU*/
@media only screen and (max-width: 880px) {
  /*MOBILE MENU*/
  #tymbl_header_products,
  #tymbl_header_right,
  #tymbl_header_products_drop {
    display: none !important;
  }
  body {
    /*
    auto-change in tymbl_scripts.js:
    position: relative/fixed
    height: auto/100vh
    bottom: 0/auto
    padding-top: 0/80
    */
  }
  #tymbl_header .column {
    z-index: 30;
  }
  #tymbl_header_hamburger {
    display: block;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    width: 96px;
    height: 100%;
    margin-right: -32px;
    text-align: center;
  }
  #tymbl_header_hamburger_img {
    margin-top: 24px;
  }
  #tymbl_header_mobile,
  #tymbl_header_mobile_btn {
    width: 320px;
  }
  #tymbl_header_mobile {
    z-index: 20;
    /*position: absolute;*/
    position: fixed;
    /*position: -webkit-sticky;*/
    top:0;
    right: 0;
    /*height: 100vh;*/
    margin-top: 80px;
    overflow: scroll;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
    box-shadow: 0px 0px 64px rgba(36, 73, 127, 0.2);
  }
  #tymbl_header_mobile_bg {
    background-color: #9BA2B0;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100vh;
  }
  #tymbl_header_mobile_btn {
    position: fixed;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 0px -24px 48px -24px #FFFFFF;
    box-shadow: 0px -24px 48px -24px #FFFFFF;
  }
  #tymbl_header_mobile_nav {
    /*padding-bottom: 240px !important;*/
    padding-bottom: 160px !important;
  }
  #tymbl_header_mobile ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #tymbl_header_mobile li {
    margin: 0;
    padding: 0;
    height: 80px;
    font-weight: 600;
    font-size: 24px;
    line-height: 78px;
    border-bottom: 1px solid #ECF2FD;
    background-color: #FFFFFF;
  }
  #tymbl_header_mobile_link_products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  #tymbl_header_mobile_link_products img {
    width: 10px;
    height: auto;
  }
  #tymbl_header_mobile_products_drop_list {
    display: none;
    border-bottom: 1px solid #ECF2FD;
    padding: 23px 0 12px 0;
  }
  .tymbl_header_mobile_link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 32px 0 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #30303F;
  }
  #tymbl_header_mobile_btn_signin {
    border-top: 1px solid #ECF2FD;
    border-bottom: none !important;
  }
  #tymbl_header_mobile_btn_signin a {
    text-align: center;
    color: #4285F4;
  }
  #tymbl_header_mobile_btn_register {
    background-color: #4285F4 !important;
    border-bottom: none !important;
  }
  #tymbl_header_mobile_btn_register a {
    text-align: center;
    color: #FFFFFF;
  }
  .tymbl_header_mobile_products_drop_block {
    width: auto;
    margin-right: 32px;
  }
  /*PRODUCTS*/
  .tymbl_home_products_block {
    width: 100%;
  }
  /*DESCRIPTIONS*/
  .tymbl_home_descriptions_block_bg {
    -ms-grid-columns: auto 60% 40% auto;
    grid-template-columns: auto 60% 40% auto;
  }
  .tymbl_home_descriptions_block .column {
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
  }
}
@media only screen and (max-width: 760px) {
  /*PRODUCTS*/
  #tymbl_home_products .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tymbl_home_products_block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .tymbl_home_products_block:first-child {
    margin-bottom: 88px;
  }
  /*DESCRIPTIONS*/
  #tymbl_home_descriptions_block_lqs .tymbl_home_descriptions_block_bg_img {
    background-position: 67% top;
  }
  #tymbl_home_descriptions_block_sd .tymbl_home_descriptions_block_bg_img {
    background-position: 75% top;
  }
  #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_bg_img {
    background-position: 25% top;
  }
}
@media only screen and (max-width: 680px) {
  .cols-4{
      width: 90% !important;
      margin-left: 0px;
  }

  #smvid{
    width:100%;
  }

  /*HEAD*/
  #tymbl_home_head_top h1 {
    max-width: 448px;
  }
  /*DESCRIPTIONS*/
  .tymbl_home_descriptions_block_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .tymbl_home_descriptions_block_title h2 {
    margin: 11px 0 0 0;
  }
  #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_bg_color,
  #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_bg_img {
    margin: 0 0 -130px 0;
  }
  /*VIDEO*/
  #tymbl_home_video_btn {
    margin-top: -68px;
  }
  #tymbl_home_video_btn img {
    height: 72px;
    width: 72px;
  }
}
@media only screen and (max-width: 610px) {
  .cols-4{
      width: 90% !important;
      margin-left: 0px;
  }

  #smvid{
    width:100%;
  }

  /*FOOTER-PRE*/
  #tymbl_footer_pre .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #tymbl_footer_pre .tymbl_btn {
    width: 100%;
    margin-top: 40px;
  }
  #tymbl_footer_pre_navigation {
    margin-right: -32px;
  }
  .tymbl_footer_pre_navigation_block {
    width: 144px;
  }
}
@media only screen and (max-width: 580px) {
  /*PRODUCTS*/
  .cols-4{
      width: 90% !important;
      margin-left: 0px;
  }

  #smvid{
    width:100%;
  }

  #tymbl_home_head_products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .tymbl_home_head_products_block {
    width: auto;
    border-right: none;
    border-bottom: 1px solid #EEF3FD;
  }
  #tymbl_home_head_products_block_sd .tymbl_home_meta_h2 {
    width: auto;
  }
  .tymbl_home_head_products_block_bottom {
    margin-top: 24px;
  }
  /*DESCRIPTIONS*/
  .tymbl_home_descriptions_block_bg {
    display: none;
  }
  .tymbl_home_descriptions_block {
    padding-bottom: 0;
  }
  .tymbl_home_descriptions_block .column {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .tymbl_home_descriptions_block .column > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .tymbl_home_descriptions_block .column > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  #tymbl_home_descriptions_block_lqs,
  #tymbl_home_descriptions_block_rm {
    background-color: #F5F6F7;
  }
  .tymbl_home_descriptions_block_icons {
    background-position: 100% top;
  }
  #tymbl_home_descriptions_block_lqs .tymbl_home_descriptions_block_icons {
    background-image: url('/assets/img/tymbl_v3/descriptions_lqs_bg_3x.jpg');
  }
  #tymbl_home_descriptions_block_sd .tymbl_home_descriptions_block_icons {
    background-image: url('/assets/img/tymbl_v3/descriptions_sd_bg_3x.jpg');
  }
  #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_icons {
    background-image: url('/assets/img/tymbl_v3/descriptions_rm_bg_3x.jpg');
    background-position: 0% top;
  }
  .tymbl_home_descriptions_block_text {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 0;
    grid-column-end: 1;
    margin-right: 0;
  }
  .tymbl_home_descriptions_block_icons {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 0;
    grid-column-end: 1;
    margin: 41px -32px 0 -32px;
    padding: 48px 16px 57px 16px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    background-size: cover;

    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_icons {
    margin-top: 41px;
    padding-bottom: 165px;
  }
  .tymbl_home_descriptions_block_icons .is-visible {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .tymbl_home_descriptions_block_icons_block {
    margin: -8px 0 0 0;
    width: 50%;
  }
  .tymbl_home_descriptions_block_icons_block p {
    padding: 0 16px;
  }
  #tymbl_home_descriptions_block_rm {
    margin-bottom: -108px;
  }
  /*VIDEO*/
  #tymbl_home_video_btn {
    margin-top: -48px;
  }
  #tymbl_home_video_btn img {
    height: 32px;
    width: 32px;
  }
  /*CTA*/
  #tymbl_home_cta p {
    font-size: 64px;
    line-height: 72px;
    margin-top: 60px;
    margin-bottom: 1px;
  }
}
@media only screen and (max-width: 390px) {
  .cols-4{
      width: 90% !important;
      margin-left: 0px;
  }

  #smvid{
    width:100%;
  }

  /*PRODUCTS*/
  .tymbl_home_products_block .tymbl_btn {
    width: 100%;
  }
  /*DESCRIPTIONS*/
  .tymbl_home_descriptions_block_icons_block {
    width: 100%;
  }
  #tymbl_home_descriptions_block_rm {
    margin-bottom: -84px;
  }
  #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_icons {
    padding-bottom: 141px;
  }
  /*VIDEO*/
  #tymbl_home_video_clip {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  /*CTA*/
  #tymbl_home_cta p {
    font-size: 58px;
    line-height: 64px;
    margin-top: 46px;
    margin-bottom: 4px;
  }
  #tymbl_home_cta .tymbl_btn {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  /*FOOTER-PRE*/
  .tymbl_footer_pre_navigation_block {
    margin-right: 16px;
  }
  /*FOOTER-POST*/
  #tymbl_footer_post .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #tymbl_footer_post_legal {
    margin-left: 0;
    text-indent: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .cols-4{
      width: 100% !important;

  }

  #smvid{
    width:100%;
  }

  /*HEAD*/
  h2, .tymbl_home_meta_h2 {
    font-size: 29px;
    margin-top: 17px;
    line-height: 40px;
  }
  /*CTA*/
  #tymbl_home_cta p {
    font-size: 48px;
    line-height: 56px;
    margin-top: 48px;
    margin-bottom: -3px;
  }
}
/*HORIZONTAL PHONES*/
@media only screen and (max-height: 480px) {
  .cols-4{
      width: 100% !important;
  }

  /*MOBILE MENU*/
  #tymbl_header_mobile_nav {
    padding-bottom: 0 !important;
  }
  #tymbl_header_mobile_btn {
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: -1px !important;
    /*padding-bottom: 80px !important;*/
  }
}
/*DISABLE MOBILE MENU*/
@media only screen and (min-width: 881px) {
  /*MOBILE MENU*/
  #tymbl_header_mobile, #tymbl_header_mobile_bg {
    display: none !important;
  }
}
/*BROWSERS: LEGACY GRID*/
/*DESCRIPTIONS*/
.cssgridlegacy .tymbl_home_descriptions_block {
  padding-bottom: 0;
}
.cssgridlegacy .tymbl_home_descriptions_block_bg {
  display: none;
}
.cssgridlegacy .tymbl_home_descriptions_block .column {
}
.cssgridlegacy .tymbl_home_descriptions_block_title {
}
.cssgridlegacy .tymbl_home_descriptions_block_text {
  margin-top: 128px;
  margin-bottom: 56px;
}
.cssgridlegacy #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_text {
  margin-top: 176px;
}
.cssgridlegacy .tymbl_home_descriptions_block_icons {
  transform: none;
  padding: 56px 0 56px 0;
}
.cssgridlegacy .tymbl_home_descriptions_block_icons .is-visible {
  transform: none;
}
.cssgridlegacy .tymbl_home_descriptions_block_bg_img,
.cssgridlegacy .tymbl_home_descriptions_block_bg .is-visible {
  transform: none;
}
.cssgridlegacy #tymbl_home_descriptions_block_lqs,
.cssgridlegacy #tymbl_home_descriptions_block_rm {
  background-color: #F5F6F7;
}
.cssgridlegacy .tymbl_home_descriptions_block_icons {
  background-position: 100% top;
  background-size: cover;
}
.cssgridlegacy #tymbl_home_descriptions_block_lqs .tymbl_home_descriptions_block_icons {
  background-image: url('/assets/img/tymbl_v3/descriptions_lqs_bg_3x.jpg');
}
.cssgridlegacy #tymbl_home_descriptions_block_sd .tymbl_home_descriptions_block_icons {
  background-image: url('/assets/img/tymbl_v3/descriptions_sd_bg_3x.jpg');
  margin-top: -56px;
}
.cssgridlegacy #tymbl_home_descriptions_block_rm .tymbl_home_descriptions_block_icons {
  background-image: url('/assets/img/tymbl_v3/descriptions_rm_bg_3x.jpg');
  background-position: 0% top;
}
/*VIDEO*/
.cssgridlegacy #tymbl_home_video {
  background-color: #24497F;
  padding-top: 72px;
}














/* EXAMPLE Media Queries for Responsive Design. These examples override the primary ('mobile first') styles. Modify as content requires.*/
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(-o-min-device-pixel-ratio: 5/4),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
